<tr>
  <td>
    <i class="fa fa-folder">
  </td>
  <td>
    <strong>
      <%= link_to(
        "..",
        directory_frame_path(
          path: "#{path.parent}"
        ),
        title: 'Show parent directory',
        data: { turbo_frame: "project_directory" }
      )
    %>
    </strong>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<% files.each do |file| %>
  <tr>
    <td>
      <i class="fa <%= file[:directory] ? 'fa-folder' : 'fa-file' %>">
    </td>
    <td>
      <%- if file[:directory] -%>
        <%= link_to(
          file[:name], 
          directory_frame_path(
            path: "#{path}/#{file[:name]}"
          ),
          title: "Show #{file[:name]} directory",
          data: { turbo_frame: "project_directory" }
        )
        %>
      <%- else -%>
        <% make_edit = !edit_regex.to_s.empty? && Regexp.new(edit_regex.to_s).match?(file[:name].to_s) %>
        <% path_constructor = make_edit ? :edit_files_path : :files_path %>
        <% puts edit_regex.class, file[:name], edit_regex.match?(file[:name].to_s),  %>
        <%= 
          link_to(
            file[:name],
            send(path_constructor, "#{path}/#{file[:name]}"),
            format: :html,
            target: "_top",
          )
        %>
      <%- end -%>
    </td>
    <td>
      <%= file[:size] %>
    </td>
    <td>
      <%= DateTime.parse(Time.at(file[:date]).to_s).strftime("%F %r") %>
    </td>
    <td>
      <%= file[:owner] %>
    </td>
    <td>
      <%= file[:mode] %>
    </td>
  </tr>
<%- end -%>
