<tr>
  <td>
    <i class="fa fa-folder">
  </td>
  <td>
    <strong>
      <%= link_to(
        "..",
        directory_frame_path(
          path: "#{path.parent}"
        ),
        title: 'Show parent directory',
        data: { turbo_frame: "project_directory" }
      )
    %>
    </strong>
  </td>
  <td></td>
<% unless private_dir %>
  <td class="d-above-xl"></td>
  <td class="d-above-xl"></td>
<% end%>
  <td></td>
  <td></td>
</tr>
<% files.each do |file| %>
  <tr>
    <td>
      <% type = file[:directory] ? 'folder' : 'file' %>
      <i class="fa fa-<%= type %>" title="<%= type %>">
      <span class="sr-only"> <%= type %> </span>
    </td>
    <% full_path = "#{path}/#{file[:name]}" %>
    <%- if file[:directory] -%>
      <td>
        <%= link_to(
          file[:name], 
          directory_frame_path(
            path: full_path
          ),
          title: "Show #{file[:name]} directory",
          data: { turbo_frame: "project_directory" }
        )
        %>
      </td>
      <td></td>
    <%- else -%>
      <td>
        <%= 
          link_to(
            file[:name],
            files_path(full_path),
            format: :html,
            target: "_top",
          )
        %>
      </td>
      <td class="p-0 py-1">
        <div class="btn-group actions-btn-group">
          <button type="button"
                  class="actions-btn btn btn-outline-dark btn-sm dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="actionsDropdown_<%= h full_path %>">
            <li>
              <%= link_to files_path(full_path, format: :html),
                          target: '_top',
                          class: 'view-file dropdown-item',
                          data: { row_index: nil } do %>
                <i class="fas fa-eye" aria-hidden="true"></i>
                View
              <% end %>
            </li>

            <% if file[:downloadable] %>
              <li>
                <%= link_to OodAppkit.editor.edit(path: full_path).to_s,
                            target: '_top',
                            class: 'edit-file dropdown-item' do %>
                  <i class="fas fa-edit" aria-hidden="true"></i>
                  Edit
                <% end %>
              </li>

              <li>
                <%= link_to files_path(full_path, download: '1'),
                            target: '_top',
                            class: 'download-file dropdown-item' do %>
                  <i class="fas fa-download" aria-hidden="true"></i>
                  Download
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </td>
    <%- end -%>
    <td class="<%= file[:directory] ? '' : 'update-to-human-size' %> <%= private_dir ? '' : 'd-above-xl' %>">
      <%= file[:size] %>
    </td>
    <td class="<%= private_dir ? '' : 'd-above-xl' %>">
      <%= DateTime.parse(Time.at(file[:date]).to_s).strftime("%F %r") %>
    </td>
    <% unless private_dir %>
      <td>
        <%= file[:owner] %>
      </td>
      <td>
        <%= file[:mode].to_s(8).rjust(3,'0')[-3..] %>
      </td>
    <% end %>
  </tr>
<%- end -%>
