<h3><%= @motd.title %></h3>
<hr />
<% if @motd.content %>
  <% @motd.content.items.each do |item| %>
    <div>
      <%= content_tag(:strong, item.pubDate.strftime("%m-%d-%Y")) if item.pubDate %>
      <h4><a href="<%= item.link %>"><%= item.title %></a></h4>
      <%= render_motd_rss_item(item) %>
      <hr />
    </div>
  <% end %>
<% end %>
