<%= content_tag(:div, id: 'motd-container') do %>
  <%= tag.h3 @motd.title %>
  <% if @motd.messages.each do |m| %>
    <%= tag.hr class: 'w-100' %>
    <div class="motd">
      <h4 class="motd_title"><%= m.date %> - <%= m.title %></h4>
      <div class="motd_body"><p><%=raw markdown( m.body ) %></p></div>
    </div>
  <% end.empty? %>
    <%= tag.hr class: 'w-100' %>
    <div class="motd">
      <h4 class="motd_title">There are no new messages.</h4>
    </div>
  <% end %>
<% end %>
