<h3>Pinned Apps <small><%= t('dashboard.pinned_apps_caption_html', all_apps_url: apps_index_path) %></small></h3>
<div class="row">
  <%- @pinned_apps.each_with_index do |app, index| %>
    <%- link = app.links.first -%>
    <div class="col-sm-3 col-md-3 text-center">
      <a class="app-card" href="<%= link.url %>">
        <div class="center-block">
          <%= icon_tag(link.icon_uri) %>
        </div>
        <%= link.title %>
      </a>
    </div>
    <%= tag.div class: %w(clearfix visible-lg-block visible-md-block visible-sm-block) if (index+1) % 4 == 0 %>
  <%- end %>
</div>
