<%= render partial: 'shared/welcome' %>


<% if Configuration.xdmod_integration_enabled? %>
  <div class="row">
    <% if @motd %>
      <div class="col-md-8">
        <%= render "pinned_apps" if pinned_apps? %>
        <%# This assumes @motd_file responds to `to_partial_path` %>
        <%= render @motd %>
      </div>
      <div class="col-md-4">
        <div class="xdmod">
          <%= render "xdmod_widget_job_efficiency" %>
          <%= render "xdmod_widget_jobs" %>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="xdmod">
          <%= render "xdmod_widget_job_efficiency" %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="xdmod">
          <%= render "xdmod_widget_jobs" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render "pinned_apps" if pinned_apps? %>
  <%= render @motd if @motd %>
<% end %>
