<%- content_for :head do -%>
  <%= javascript_include_tag 'dashboard', nonce: true, type: 'module' %>
  <%= javascript_include_tag 'pinned_apps', nonce: true %>
<%- end -%>
<%= render partial: 'shared/welcome' unless @user_configuration.disable_dashboard_welcome_message%>

<%- dashboard_layout.fetch(:rows, []).each do |row| -%>
<div class="row">
  <%- row.fetch(:columns, []).each do |col| -%>
  <div class='<%= "col-md-#{col[:width]}" %>'> <%# FIXME: what if width is not specified!? %>
    <%- Array(col.fetch(:widgets, [])).each do |widget| -%>
      <%= render_widget(widget.to_s) %>
    <%- end -%>
  </div>
  <%- end -%>
</div>
<%- end -%>