<%= render partial: 'shared/welcome' %>

Webpacker upgrade!

<i class="fas fa-chart-line fa-2x"></i>
<i class="fab fa-twitter fa-2x"></i>

<% if Configuration.xdmod_integration_enabled? %>
  <div class="row">
    <% if @motd %>
      <div class="col-md-8">
        <%# This assumes @motd_file responds to `to_partial_path` %>
        <%= render @motd %>
      </div>
      <div class="col-md-4">
        <div class="xdmod">
          <%= render "xdmod_widget_job_efficiency" %>
          <%= render "xdmod_widget_jobs" %>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="xdmod">
          <%= render "xdmod_widget_job_efficiency" %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="xdmod">
          <%= render "xdmod_widget_jobs" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render @motd if @motd %>
<% end %>
