<pre><%= @i18n_load_paths %></pre>
<pre>Current locale: <%= @current_locale %></pre>
<pre>Fallback locale: <%= @default_locale %></pre>
<%= sorted_translations = @current_locale_translations.merge(@default_locale_translations).sort_recursive %>
<table>
  <thead><td>Key</td><td>Current</td><td>Default</td></thead>
  <tbody>
  <%
    keys = []
    gen_rows = Proc.new{ |a|
      if a.is_a?(Array)
        if a.length == 2
          keys << a[0]
  %>
    <tr>
      <td>
        <%= keys.to_s %>
      </td>
  <%
          if a[1].is_a?(Array)
  %>
      <td></td><td></td>
  <%
            gen_rows.call(a[1])
          else
  %>
      <td>
        <%= @flat_current_locale_translations[keys].to_s %>
      </td>
      <td>
        <%= @flat_default_locale_translations[keys].to_s %>
      </td>
  <%
          end
          keys.pop
        else # array not length 2
          a.each(&gen_rows)
        end
      else # not an array
  %>
      <td>
        <%= @flat_current_locale_translations[keys].to_s %>
      </td>
      <td>
        <%= @flat_default_locale_translations[keys].to_s %>
      </td>
  <%
      end
  %>
    </tr>
  <%
    }
  %>
  <%
    sorted_translations.each(&gen_rows)
  %>
  </tbody>
</table>
