<%-
  session_class = status_context(session)
  badge_class = "bg-#{session_class}"
  alert_class = "alert-#{session_class}"
  num_nodes = session.info.allocated_nodes.size
  num_cores = session.info.procs.to_i
-%>

<div class="card-heading">
  <div class="h5 card-header overflow-auto alert <%= alert_class %>">
    <a href="<%= new_batch_connect_session_context_path(token: session.token) %>" class="alert-heading">
      <span class="card-text"><%= session.title %></span>
    </a>
    <span class="card-text"> (<%= session.job_id %>)</span>
    <div class="float-end">
      <%- if session.starting? || session.running? -%>
      <%- if num_nodes.positive? -%>
      <span class="badge <%= badge_class %> rounded-pill"><%= pluralize(num_nodes, "node") %></span>
      <span class="card-text"> | </span>
      <%- end -%>
      <%- if num_cores.positive? -%>
      <span class="badge <%= badge_class %> rounded-pill"><%= pluralize(num_cores, "core") %></span>
      <span class="card-text"> | </span>
      <%- end -%>
      <%- end -%>
      <%= status(session) %>
      <%- if session.completed? && !session.app.preset? -%>
        <span class="card-text"> | </span>
        <%= edit(session) %>
      <%- end -%>
      <%- if session.completed? -%>
        <span class="card-text"> | </span>
        <%= relaunch(session) %>
      <%- end -%>
    </div>
  </div>
</div>