<div class="card-body">
  <div>
    <div class="float-end"><%= cancel_or_delete(session) %></div>
    <%= render_card_partial('host', session) %>
    <%= render_card_partial('created', session) %>
    <%= render_card_partial('session_time', session) %>
    <%= render_card_partial('id', session) %>
    <%= render_card_partial('support_ticket', session) if Configuration.support_ticket_enabled? %>
    <%= render_card_partial('display_choices', session) %>
    <%= render_card_partial('custom_info_view', session) if session.app.session_info_view %>
    <%= render_card_partial('completed_view', session) if session.app.session_completed_view &&  session.completed? %>
    <%= render_connection(session) %>
  </div>
</div>
