<% if session.running? %>
  <% if session.ssh_to_compute_node? %>
    <p>
      <strong><%= t('dashboard.batch_connect_sessions_stats_host') %></strong>
      <% if session.connect.host %>
        <a href="<%= OodAppkit.shell.url(host: session.connect.host).to_s %>" target="_blank" class="btn btn-primary btn-sm fas fa-terminal">
          <%= session.connect.host %>
        </a>
      <% else %>
        <%= t('dashboard.batch_connect_sessions_stats_undetermined_host') %>
      <% end %>
    </p>
  <% else %>
    <p>
      <strong><%= t('dashboard.batch_connect_sessions_stats_host') %></strong>
      <%= session.connect.host || t('dashboard.batch_connect_sessions_stats_undetermined_host') %>
    </p>
  <% end %>
<% end %>
