<%= bootstrap_form_for @script do |form| %>
  <%= form.hidden_field :project_id, placeholder: "Project ID" %>
  <div class='card'>
    <h5 class='card-header'>Scripts for Project <%= @script.project_id.titleize %></h5>
      <div class='card-group'>
          <div class='card'>
            <div class='card-body'>
              <div class="col-md-9">
                <div class="field">
                  <%= form.text_field :name, placeholder: "Script name", 
                          help: I18n.t('dashboard.jobs_project_name_validation') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
    <p>
      <%= form.submit 'Save', class: 'btn btn-primary', title: 'Save script' %>
      <%= form.button 'Reset', type: :reset, class: 'btn btn-default', 
      title: 'Clear form fields' %>
      <%= link_to 'Back', projects_path, class: 'btn btn-default', 
      title: 'Return to projects page' %>
    <p>
  </div>

<% end %>
  
  