<h1>Editing <%= @launcher.title %></h1>

<%= javascript_include_tag 'launcher_edit', nonce: true %>

<%= link_to 'Back', project_path(params[:project_id]), class: 'btn btn-default my-3',  title: 'Return to projects page' %>

<%= bootstrap_form_for(@launcher, url: save_project_launcher_path, html: { autocomplete: "off" }) do |f| %>
  <% @launcher.smart_attributes.each do |attrib| %>
    <%# TODO generate render_format %>
    <%= create_editable_widget(f, attrib, format: nil) %>
  <% end %>

  <%= render partial: 'add_new_field' %>

  <div class="d-grid gap-2">
    <%= f.submit t('dashboard.save'), class: 'btn btn-primary', id: 'save_launcher_edit' %>
  </div>
<% end %>

<template id="bc_num_hours_template">
  <%= bc_num_hours_template %>
</template>

<template id="bc_num_nodes_template">
  <%= bc_num_nodes_template %>
</template>

<template id="auto_queues_template">
  <%= auto_queues_template %>
</template>

<template id="auto_accounts_template">
  <%= auto_accounts_template %>
</template>

<template id="auto_job_name_template">
  <%= auto_job_name_template %>
</template>

<template id="auto_environment_variable_template">
  <%= auto_environment_variable_template %>
</template>

<template id="auto_cores_template">
  <%= auto_cores_template %>
</template>

<template id="auto_log_location_template">
  <%= auto_log_location_template %>
</template>
