<% if has_ganglia(data.cluster) || has_grafana(data.cluster) %>

<div class="card ms-5 mt-3">

        <% if has_ganglia(data.cluster) %>
          <div class="card-header">Node: <%= node %> <span class="float-end">Job: <%= data.pbsid %> </span></div>
          <div class="card-body">
        
            <%= link_to  image_tag( build_ganglia_link(data.cluster, data.starttime, 'cpu_report', node, 'small'), class:"img-responsive col-lg-auto col-md-auto col-sm-auto col-xs-auto" ), build_ganglia_link(data.cluster, data.starttime, 'cpu_report', node, 'large'), data: { lightbox: "cpu-report", title: "CPU Report " + node } %>
            <%= link_to  image_tag( build_ganglia_link(data.cluster, data.starttime, 'load_report', node, 'small'), class:"img-responsive col-lg-auto col-md-auto col-sm-auto col-xs-auto" ), build_ganglia_link(data.cluster, data.starttime, 'load_report', node, 'large'), data: { lightbox: "load-report", title: "Load Report " + node } %>
            <%= link_to  image_tag( build_ganglia_link(data.cluster, data.starttime, 'mem_report', node, 'small'), class:"img-responsive col-lg-auto col-md-auto col-sm-auto col-xs-auto" ), build_ganglia_link(data.cluster, data.starttime, 'mem_report', node, 'large'), data: { lightbox: "mem-report", title: "Memory Report " + node } %>
            <%= link_to  image_tag( build_ganglia_link(data.cluster, data.starttime, 'network_report', node, 'small'), class:"img-responsive col-lg-auto col-md-auto col-sm-auto col-xs-auto" ), build_ganglia_link(data.cluster, data.starttime, 'network_report', node, 'large'), data: { lightbox: "network-report", title: "Network Report " + node } %>
          </div>
        <% elsif has_grafana(data.cluster) %>
          <div class="card-header">
            Node: <%= node %>
            <span class="ms-3">Job: <%= data.pbsid %></span>
            <span class="ms-3">
              <a href="<%= build_grafana_link(data.cluster, data.starttime, 'node', node, data.pbsid) %>" target="_blank">
                    <span class="fa fa-external-link-square-alt"></span> Detailed Metrics
              </a>
            </span>
          </div>
          <% grafana_panels = %w[ cpu memory ] %>
          <% grafana_panels.push(*%w[ gpu-util gpu-memory ]) if data.gpus.positive? %>
          <div class="card-body">
            <% grafana_panels.each do |name| %>
              <% if supports_grafana_panel?(data.cluster, name) %>
                <iframe src="<%= build_grafana_link(data.cluster, data.starttime, name, node, data.pbsid) %>" 
                  width="450" height="200" frameborder="0">
                </iframe>
              <% end %>
            <% end%>
          </div>       
        <% end %>
</div>
       

<% end %>
