<div class="row">
  <div class="col-md-12">
    <div class="float-end">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="selected-filter-label"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <% filters.each do |filter| %>
            <%= '<li class="divider"></li>'.html_safe if filter == filters.last %>
            <li id="filter-id-<%= filter.filter_id %>" onclick="set_filter_id('<%= filter.filter_id %>');">
              <a class="dropdown-item" href="#"><%= filter.title %></a>
            </li>
          <% end %>
        </ul>
      </div>

        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="selected-cluster-label"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <% OODClusters.sort_by {|cluster| cluster.metadata.title || cluster.id.to_s.titleize }.each do |cluster| %>
              <li id="cluster-id-<%= cluster.id %>" onclick="set_cluster_id('<%= cluster.id %>');">
                <a class="dropdown-item" href="#"><%= cluster.metadata.title || cluster.id.to_s.titleize %></a>
              </li>
          <% end %>
          <li class="divider"></li>
          <li id="cluster-id-all" onclick="set_cluster_id('all');" data-title="All Clusters">
            <a class="dropdown-item" href="#">All Clusters</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 table-responsive">
    <h2>Active Jobs</h2>
    <table id="job_status_table" class="table datatable table-hover" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>User</th>
        <th>Account</th>
        <th>Time Used</th>
        <th>Queue</th>
        <th>Status</th>
        <th>Cluster</th>
        <th>Actions</th>
      </tr>
      </thead>
    </table>
  </div>
</div>

<div hidden=true
  id="active_jobs_config"
  data-filter-id=<%= @jobfilter ? "#{@jobfilter}" : "null" %>
  data-default-filter-id=<%= default_filter_id %> 
  data-cluster-id=<%= @jobcluster ? "#{@jobcluster}" : "null" %> 
  data-console-log-performance-report=<%= Configuration.console_log_performance_report? %>
  data-base-uri=<%= controller.relative_url_root %>
  data-ood-version=<%= Configuration.ood_version %>
>
</div>

<%=  javascript_include_tag 'active_jobs', nonce: true, type: 'module' %>
