<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shell</title>
  <link rel="stylesheet" href="{{baseURI}}/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="{{baseURI}}/stylesheets/style.css">

  <script src="{{baseURI}}/javascripts/hterm_all_1.85.js"></script>
  <script src="{{baseURI}}/javascripts/ood_shell.1.js"></script>
</head>

<body>
  <div id="terminal">
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>
            <span class="label">/Directory/Ex</span>
          </li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right form-inline">
        
 
          <li class="hidden-xs">
            <label class="label hidden-sm hidden-md" for="theme">Themes:</label>
            <div class="form-group">
          <select id="colors" class="form-control input-xs" id="theme">
        <option value="default">Default</option>
        <optgroup label="Dark">
        {{#each darkThemes}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
        <optgroup label="Bright">
        {{#each brightThemes}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </optgroup>
      </select>
            </div>
          </li>
          <li class="hidden-xs">
            <span class="label hidden-xs">Host: owens</span>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>
</body>

<script>
  const scheme = document.getElementById('colors');
  var jsonStringOfSchemes = '"{{json darkThemes}}"'
  //var arrayofSchemes = JSON.parse(jsonStringOfSchemes);
  //console.log(arrayOfSchemes);
  //console.log(stuff.replace(/"([^"]+)":/g, '$1:').slice(1,-1))
  setupHterm = function () {
    // Global variables that define the terminal
    var oodShell,
      terminalContainer = document.getElementById('terminal'),
      webSocketUrl      = urlWithToken(),
      terminalPrefs     = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true
      };

    // hterm default preferences are defined here. Switch to the tag that we're using.
    // https://chromium.googlesource.com/apps/libapps/+/master/hterm/js/hterm_preference_manager.js

    oodShell = new OodShell(terminalContainer, webSocketUrl, terminalPrefs);
    oodShell.createTerminal();
  }

  window.onload = function() {
    lib.init(setupHterm);
  };

  var urlWithToken = function(){
    var base = document.URL.replace(/^http/, 'ws').replace(/#.*$/, '');
    var separator = '?';
    
    if(base.includes('?')){
      separator = '&';
    }

    return base + separator + "csrf={{csrfToken}}";
  }

  scheme.addEventListener("change", function(event) {
    var selection = event.target.value;
    var schemeObject = arrayOfSchemes.forEach(function (element) {
        console.log(element)
    })
    console.log(schemeObject);
    //ood.changeTheme()
  })


</script>

</html>
