<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{baseURI}}/javascripts/jquery-3.0.0.min.js"></script>
      <script src="{{baseURI}}/javascripts/bootstrap.min.js"></script>
     <link rel="stylesheet" href="{{baseURI}}/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{baseURI}}/stylesheets/bootstrap.min.css">

  <title>Shell - {{ siteTitle }}</title>

  <link rel="stylesheet" href="{{baseURI}}/stylesheets/style.css">

  <script src="{{baseURI}}/javascripts/hterm_all_1.85.js"></script>
  <script src="{{baseURI}}/javascripts/ood_shell.1.js"></script>
  <script src="{{baseURI}}/javascripts/themes.js"></script>
</head>

<body>
  <div id="terminal">
    
    <nav class="navbar navbar-inverse navbar-static-top navbar-expand" role="navigation">
      <div class="container-fluid" >
      <ul class="navbar-nav left-padding-none">
            <li class="nav-item custom-host">
            <label id="host" class="label">Host: {{host}} </label>
          </li>
      </ul>
            <ul class="navbar-nav left-padding-some">
          <li class="nav-item hidden-xs">
            <label id="directory" class="label hidden-xs"></label>
          </li>
      </ul>
          <ul class="navbar-nav form-inline navbar-right left-padding-none">
          <li class="nav-item">
            <div class="form-group custom-form">
            <label class="label" for="colors">Themes:</label>
          <select id="colors" class="form-control custom-select">
        <option value="default">Default</option>
        <optgroup label="Bright">
        <option value="CLRS">CLRS</option>
        <option value="Github">Github</option>
        <option value="Solarized Light">Solarized Light</option>
        <option value="Tomorrow">Tomorrow</option>
        </optgroup>
        <optgroup label="Dark">
        <option value="Cobalt">Cobalt</option>
        <option value="idle Fingers">Idle Fingers</option>
        <option value="Monokai">Monokai</option>
        <option value="Pastel Dark">Pastel Dark</option>
        <option value="Solarized Dark">Solarized Dark</option>
        <option value="Tomorrow Night Blue">Tomorrow Night Blue</option>
        <option value="Tomorrow Night Bright">Tomorrow Night Bright</option>
        <option value="Tomorrow Night Eighties">Tomorrow Night Eighties</option>
        <option value="Tomorrow Night">Tomorrow Night</option>
        <option value="VibrantInk">Vibrant Ink</option>
        </optgroup>
      </select>
            </div>
          </li>
        </ul>
  </nav>
  </div>
</body>

<script>
  var oodShell,
  dirElement = document.getElementById("directory"),
  schemeSelect = document.getElementById("colors");
  setupHterm = function () {
    // Global variables that define the terminal
      var terminalContainer = document.getElementById('terminal'),
      webSocketUrl      = urlWithToken(),
      terminalPrefs     = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true
      };

    // hterm default preferences are defined here. Switch to the tag that we're using.
    // https://chromium.googlesource.com/apps/libapps/+/master/hterm/js/hterm_preference_manager.js

    oodShell = new OodShell(terminalContainer, webSocketUrl, terminalPrefs);
    oodShell.createTerminal();
  }

  window.onload = function() {
    lib.init(setupHterm);
  };

  var urlWithToken = function(){
    var base = document.URL.replace(/^http/, 'ws').replace(/#.*$/, '');
    var separator = '?';
    
    if(base.includes('?')){
      separator = '&';
    }

    return base + separator + "csrf={{csrfToken}}";
  }

var directory = "{{dir}}";

if (directory != "") {
  directory = "Initial Directory: {{dir}}";
}

dirElement.textContent += directory;


schemeSelect.addEventListener("change", function(ev) {
  combinedArr = [...darkThemes, ...brightThemes];
  var choice  = ev.target.value;

  combinedArr.forEach(function(ele) {
    var schemeObject;
    if (choice === "default") {
      schemeObject = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true,
        'cursor-blink': true,
        'background-color': '#101010',
        'foreground-color': '#F0F0F0',
        'color-palette-overrides': null,
        'cursor-color': '#FF0000' + '50',
      };
        
    } else if (choice === ele.name) {
        schemeObject = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true,
        'cursor-blink': true,
        'background-color': ele.scheme.background,
        'foreground-color': ele.scheme.text,
        'color-palette-overrides': ele.scheme.colorPaletteOverrides,
        'cursor-color': ele.scheme.cursor + '50',
      };
    }

    oodShell.changeTheme(schemeObject);
  })

})
</script>

</html>
