<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shell</title>
    <link rel="stylesheet" href="{{baseURI}}/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="{{baseURI}}/stylesheets/style.css">

  <script src="{{baseURI}}/javascripts/hterm_all_1.85.js"></script>
  <script src="{{baseURI}}/javascripts/ood_shell.1.js"></script>
  <script src="{{baseURI}}/javascripts/themes.js"></script>
</head>

<body>
  <div id="terminal">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li>
            <span id="host" class="label hidden-xs">Host: </span>
          </li>
          <li>
            <span id="directory" class="label hidden-sm hidden-xs"></span>
          </li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right form-inline">


          <li class="hidden-xs">
            <label class="label hidden-xs" for="theme">Themes:</label>
            <div class="form-group">
          <select id="colors" class="form-control input-xs" id="theme">
        <option value="default">Default</option>
        <optgroup label="Dark">
        <option value="Monokai">Monokai</option>
        <option value="Pastel Dark">Pastel Dark</option>
        <option value="Cobalt">Cobalt</option>
        <option value="Tomorrow Night Blue">Tomorrow Night Blue</option>
        <option value="Tomorrow Night Bright">Tomorrow Night Bright</option>
        <option value="Tomorrow Night Eighties">Tomorrow Night Eighties</option>
        <option value="Tomorrow Night">Tomorrow Night</option>
        <option value="VibrantInk">Vibrant Ink</option>
        <option value="idle Fingers">Idle Fingers</option>
        <option value="Solarized Dark">Solarized Dark</option>
      </optgroup>
        <optgroup label="Bright">
        <option value="Solarized Light">Solarized Light</option>
        <option value="Github">Github</option>
      </optgroup>
      </select>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>
</body>

<script>
  var oodShell,
  dirElement = document.getElementById("directory"),
  hostElement = document.getElementById("host"),
  schemeSelect = document.getElementById("colors");
  setupHterm = function () {
    // Global variables that define the terminal
      var terminalContainer = document.getElementById('terminal'),
      webSocketUrl      = urlWithToken(),
      terminalPrefs     = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true
      };

    // hterm default preferences are defined here. Switch to the tag that we're using.
    // https://chromium.googlesource.com/apps/libapps/+/master/hterm/js/hterm_preference_manager.js

    oodShell = new OodShell(terminalContainer, webSocketUrl, terminalPrefs);
    oodShell.createTerminal();
  }

  window.onload = function() {
    lib.init(setupHterm);
  };

  var urlWithToken = function(){
    var base = document.URL.replace(/^http/, 'ws').replace(/#.*$/, '');
    var separator = '?';
    
    if(base.includes('?')){
      separator = '&';
    }

    return base + separator + "csrf={{csrfToken}}";
  }
var pathname = window.location.pathname.split( '/' );
var host = pathname[5];
var directory = "";

if (pathname[6]) {
  directory = "Initial Directory: /";
  pathname.forEach(function(dir, index) {
    if (index >= 6) {
      directory = directory + dir +"/"
    } 
  });
}

dirElement.textContent += directory;

hostElement.textContent += " " + host;

schemeSelect.addEventListener("change", function(ev) {
  combinedArr = [...darkThemes, ...brightThemes];
  var choice  = ev.target.value;

  combinedArr.forEach(function(ele) {
    var schemeObject;
    if (choice === "default") {
      schemeObject = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true,
        'cursor-blink': true,
        'background-color': '#101010',
        'foreground-color': '#F0F0F0',
        'color-palette-overrides': null,
        'cursor-color': '#FF0000' + '50',
      };
        
    } else if (choice === ele.name) {
        schemeObject = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true,
        'cursor-blink': true,
        'background-color': ele.scheme.background,
        'foreground-color': ele.scheme.text,
        'color-palette-overrides': ele.scheme.colorPaletteOverrides,
        'cursor-color': ele.scheme.cursor + '50',
      };
    }

    oodShell.changeTheme(schemeObject);
  })

})
</script>

</html>
