<ul class="nav nav-tabs mt-3" id="tabs_<%= name_id %>" role="tablist">
  <% clusters.each_with_index do |cluster, cidx| %>
    <% cluster_id = cluster.to_s.parameterize(separator: '_') %>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if cidx == 0 %>" id="tab_<%= name_id %>_<%= cluster_id %>" data-bs-toggle="tab" data-bs-target="#tab_pane_<%= name_id %>_<%= cluster_id %>" type="button" role="tab">
        <%= cluster.to_s.titleize %>
      </button>
    </li>
  <% end %>
</ul>

<div class="tab-content p-3 border border-top-0">
  <% clusters.each_with_index do |cluster, cidx| %>
    <% cluster_id = cluster.to_s.parameterize(separator: '_') %>
    <div class="tab-pane fade <%= 'show active' if cidx == 0 %>" id="tab_pane_<%= name_id %>_<%= cluster_id %>" role="tabpanel">
      <div class="d-flex flex-wrap gap-2">
        <% sorted_versions.select { |v| v.cluster == cluster }.each do |mod| %>
          <span class="badge bg-secondary p-2"><%= mod.version || "default" %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
