<% sorted_versions = versions.sort_by(&:version).reverse %>
<% latest_version = sorted_versions.first %>
<% clusters = versions.map(&:cluster).uniq %>

<% if selected_clusters.blank? || clusters.include?(selected_clusters) %>
  <% name_id = name.to_s %>
  <tr>
    <td class="text-center">
      <button class="btn btn-sm border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= name_id %>">
        >
      </button>
    </td>
    <td><%= name %></td>
    <td>
      <%= latest_version.version || "default" %>
      <% if sorted_versions.size > 1 %>
        <span class="text-muted small">(<%= sorted_versions.size - 1 %> others)</span>
      <% end %>
    </td>
    <%# TODO: Add desc after extending HpcModule %>
    <td><%= "No description available" %></td>
    <td><%= clusters.map { |c| c.to_s.titleize }.join(", ") %></td>
  </tr>

  <tr class="collapse bg-light" id="collapse-<%= name_id %>">
    <td colspan="5">
      <div class="p-3">
        <strong>Available Modules:</strong>

        <%= render 'cluster_tabs', name_id: name_id, clusters: clusters, sorted_versions: sorted_versions %>

        <hr>

        <%# TODO: Change module load command to use selected version %>
        <strong>Load module:</strong>
        <div><code>module load <%= latest_version.to_s %></code></div>

      </div>
    </td>
  </tr>
<% end %>
