<% versions_by_cluster = versions.group_by(&:cluster) %>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Cluster</th>
        <th>Versions</th>
      </tr>
    </thead>
    <tbody>
      <% clusters.each do |cluster| %>
        <% cluster_versions = versions_by_cluster[cluster] || [] %>
        <tr>
          <td><%= Configuration.job_clusters[cluster].title %></td>
          <td>
            <% if cluster_versions.any? %>
              <% cluster_versions.group_by(&:version).sort_by { |version, _| version.to_s }.reverse.each do |version, version_entries| %>
                <% next if version.blank? %>
                <% mod = version_entries.first %>
                <% dependency_groups = version_entries.flat_map { |entry| entry.dependencies.is_a?(Array) ? entry.dependencies : [] }
                                                   .map { |group| group.is_a?(Array) ? group : [group].compact }
                                                   .reject(&:empty?)
                                                   .uniq %>
                <button 
                  class="btn btn-outline-primary btn-sm version-btn" 
                  title="<%= mod.name %>/<%= version %>"
                  data-role="selectable-version"
                  data-module="<%= mod.name %>"
                  data-version="<%= version %>"
                  data-dependencies="<%= dependency_groups.to_json %>"
                  data-default="<%= mod.default? %>"
                >
                  <%= version %>
                </button>
              <% end %>
            <% else %>
              <span class="text-muted">None</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
