<% versions_by_cluster = versions.group_by(&:cluster) %>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Cluster</th>
        <th>Versions</th>
      </tr>
    </thead>
    <tbody>
      <% clusters.each do |cluster| %>
        <% cluster_versions = versions_by_cluster[cluster] || [] %>
        <tr>
          <td><%= cluster.to_s.titleize %></td>
          <td>
            <% if cluster_versions.any? %>
              <% cluster_versions.uniq { |v| v.version }.sort_by(&:version).reverse.each do |mod| %>
                <% next if mod.version.blank? %>
                <button 
                  class="btn btn-outline-primary btn-sm version-btn" 
                  title="<%= mod.to_s %>"
                  data-role="selectable-version"
                  data-module="<%= mod.name %>"
                  data-version="<%= mod.version %>"
                  data-dependencies="<%= (mod.dependencies || []).to_json %>"
                  data-default="<%= mod.default? %>"
                >
                  <%= mod.version %>
                </button>
              <% end %>
            <% else %>
              <span class="text-muted">None</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
