<% content_for :title, "#{t('dashboard.module_browser_title')} - #{@user_configuration.dashboard_title}" %>

<h1 class="mb-4 d-flex justify-content-between">
  <%= t('dashboard.module_browser_title') %>
  <span class="h4 text-muted">
    <%= t('dashboard.module_browser_last_updated', last_updated: @modules_last_updated) %>
  </span>
</h1>

<%= render 'toolbar' %>
<%= render 'module_list', modules: @modules %>

<%= javascript_include_tag 'module_browser', nonce: true %>
