<!-- configuration options exposed to javascript -->
<div hidden id="ood_config"
  data-max-file-size="<%= Configuration.file_upload_max %>"
  data-download-enabled="<%= Configuration.download_enabled? %>"
  data-transfers-path="<%= transfers_path(format: "json") if respond_to?(:transfers_path) %>"
  data-root-path="<%= root_path %>"
  data-uppy-locale="<%= I18n.t('dashboard.uppy', :default => {}).to_json %>"
  data-bc-dynamic-js="<%= Configuration.bc_dynamic_js? %>"
  data-xdmod-url="<%= Configuration.xdmod_host %>"
  data-base-analytics-path="<%= analytics_path('delme').gsub(/[\/]*delme[\/]*/,'') %>"
  data-bc-poll-delay="<%= Configuration.bc_sessions_poll_delay %>"
  data-bc-index-url="<%= batch_connect_sessions_path %>"
  data-status-poll-delay="<%= Configuration.status_poll_delay %>"
  data-status-index-url="<%= system_status_path if respond_to?(:system_status_path) %>"
  data-support-path="<%= support_path if respond_to?(:support_path) %>"
  data-apps-datatable-page-length="<%= @user_configuration.apps_datatable[:page_length] %>"
></div>
