<% @files.each do |f| %>
  <tr>
    <td><%= f[:directory] ? 'dir' : 'file' %></td>
    <td><%= link_to f[:name], files_path(@path.join(f[:name]).to_s) %></td>
    <td><%= f[:size] %></td>
    <td><%= f[:date] %></td>
    <td><%= f[:owner] %></td>
    <td><%= f[:mode] %></td>
  </tr>
<% end %>
