<div class="col-md-9">
  <%# TODO put search box ABOVE the breadcrumbs %>
    <ol id="path-breadcrumbs" class="breadcrumb breadcrumb-no-delimiter rounded">
      <%= render partial: 'breadcrumb', collection: @path.descend, as: :file, locals: { file_count: @path.descend.count, full_path: @path } %>
    </ol>

    <span id="select_all_label" class="sr-only"><%= t('dashboard.files_table_select_all') %></span>
    <table class="table table-striped table-condensed w-100" id="directory-contents">
      <caption id="directory-contents_caption" class="sr-only" aria-live='polite'> <%= t('dashboard.files_table_content_of_directory', path: @path) %> </caption>
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="select_all" class="file-select" aria-labelledby="select_all_label"></input>
            <span class="sr-only"><%= t('dashboard.files_table_select') %></span>
          </th>
          <th><%= t('dashboard.files_table_type') %></th>
          <th><%= t('dashboard.files_table_name') %></th>
          <th><span class="sr-only"><%= t('dashboard.files_table_actions') %></span></th>
          <th><%= t('dashboard.files_table_size') %></th>
          <th><%= t('dashboard.files_table_modified_at') %></th>
          <th><%= t('dashboard.files_table_owner') %></th>
          <th><%= t('dashboard.files_table_mode') %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <%= render partial: "spinner" %>
</div>
