<div class="col-md-9">
  <%# TODO put search box ABOVE the breadcrumbs %>
    <ol id="path-breadcrumbs" class="breadcrumb breadcrumb-no-delimiter rounded" role="region" aria-label="Path breadcrumbs">
      <%= render partial: 'breadcrumb', collection: @path.descend, as: :file, locals: { file_count: @path.descend.count, full_path: @path } %>
    </ol>

    <div role="region" aria-label="Directory contents">
      <span id="select_all_label" class="d-none"><%= t('dashboard.files_select_all') %></span>
      <table class="table table-striped table-condensed w-100" id="directory-contents">
        <caption id="directory-contents_caption" class="sr-only" aria-live='polite'><%= t('dashboard.files_contents_of_directory', path: @path) %></caption>
        <thead>
          <tr>
            <th>
              <input type="checkbox" id="select_all" class="file-select" aria-describedby="select_all_label">
              <span class="sr-only"><%= t('dashboard.select') %></span>
            </th>
            <th><%= t('dashboard.type') %></th>
            <th><%= t('dashboard.name') %></th>
            <th><span class="sr-only"><%= t('dashboard.actions') %></span></th>
            <th><%= t('dashboard.size') %></th>
            <th><%= t('dashboard.files_modified_at') %></th>
            <th><%= t('dashboard.owner') %></th>
            <th><%= t('dashboard.mode') %></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <%= render partial: "spinner" %>
    </div>
</div>
