
<div hidden="" id="files_page_load_config"
  data-current-directory="<%= @path %>"
  data-current-directory-url="<%= files_path(@filesystem, @path) %>"
  data-current-directory-updatead-at="<%= Time.now.to_i %>"
  data-current-files-path="<%= files_path(@filesystem, '/') %>"
  data-current-filesystem="<%= @filesystem %>"
  data-download-error-title="<%= t('dashboard.files_directory_download_error_modal_title') %>"
  data-current-files-upload-path="<%= url_for(fs: @filesystem, action: 'upload') if Configuration.upload_enabled? %>"
  data-label-filter="<%= t('dashboard.files_filter') %>"
  data-label-select-row="<%= t('dashboard.files_select_row') %>"
  data-label-directory="<%= t('dashboard.directory') %>"
  data-label-file="<%= t('dashboard.file') %>"
  data-label-show-dotfiles="<%= t('dashboard.files_show_dotfiles') %>"
  data-label-show-owner-mode="<%= t('dashboard.files_show_owner_mode') %>"
  data-label-contents-of-directory="<%= t('dashboard.files_contents_of_directory', path: '__PATH__') %>"
  data-label-navigated-to="<%= t('dashboard.files_navigated_to', path: '__PATH__') %>"
  data-label-actions="<%= t('dashboard.files_actions') %>"
  data-label-view="<%= t('dashboard.files_action_view') %>"
  data-label-edit="<%= t('dashboard.files_edit') %>"
  data-label-rename="<%= t('dashboard.files_rename') %>"
  data-label-download="<%= t('dashboard.files_download') %>"
  data-label-delete="<%= t('dashboard.files_delete') %>"
  data-label-showing-rows="<%= t('dashboard.files_showing_rows', shown: '__SHOWN__') %>"
  data-label-showing-rows-filtered="<%= t('dashboard.files_showing_rows_filtered', shown: '__SHOWN__', total: '__TOTAL__') %>"
  data-label-rows-selected="<%= t('dashboard.files_rows_selected', count: '__COUNT__') %>"
  data-label-invalid-date="<%= t('dashboard.files_invalid_date') %>"
  data-label-cannot-navigate-to-file="<%= t('dashboard.files_cannot_navigate_to_file') %>"
  data-label-change-directory-title="<%= t('dashboard.files_change_directory_title') %>"
  data-label-clipboard-close="<%= t('dashboard.files_clipboard_close') %>"
  data-label-clipboard-copy="<%= t('dashboard.files_clipboard_copy') %>"
  data-label-clipboard-description="<%= t('dashboard.files_clipboard_description', from: '__FROM__') %>"
  data-label-clipboard-move="<%= t('dashboard.files_clipboard_move') %>"
  data-label-copy-move-error="<%= t('dashboard.files_copy_move_error') %>"
  data-label-copy-successful="<%= t('dashboard.files_copy_successful') %>"
  data-label-delete-confirm="<%= t('dashboard.files_delete_confirm', files: '__FILES__') %>"
  data-label-delete-error-msg="<%= t('dashboard.files_delete_error_msg') %>"
  data-label-delete-multiple="<%= t('dashboard.files_delete_multiple', count: '__COUNT__') %>"
  data-label-delete-single="<%= t('dashboard.files_delete_single', file: '__FILE__') %>"
  data-label-deleting-files="<%= t('dashboard.files_deleting_files') %>"
  data-label-directory-name="<%= t('dashboard.files_directory_name_label') %>"
  data-label-download-error-msg="<%= t('dashboard.files_download_error_msg') %>"
  data-label-error-create-directory="<%= t('dashboard.files_error_create_directory', error: '__ERROR__') %>"
  data-label-error-create-file="<%= t('dashboard.files_error_create_file', error: '__ERROR__') %>"
  data-label-error-downloading="<%= t('dashboard.files_error_downloading', error: '__ERROR__') %>"
  data-label-error-transfer="<%= t('dashboard.files_error_transfer', summary: '__SUMMARY__', error: '__ERROR__') %>"
  data-label-filename="<%= t('dashboard.files_filename_label') %>"
  data-label-filename-illegal-chars="<%= t('dashboard.files_filename_illegal_chars') %>"
  data-label-filename-illegal-slash="<%= t('dashboard.files_filename_illegal_slash') %>"
  data-label-operation-failed="<%= t('dashboard.files_operation_failed') %>"
  data-label-path="<%= t('dashboard.files_path_label') %>"
  data-label-preparing-download="<%= t('dashboard.files_preparing_download', name: '__NAME__') %>"
  data-label-provide-absolute-path="<%= t('dashboard.files_provide_absolute_path') %>"
  data-label-provide-directory-name="<%= t('dashboard.files_provide_directory_name') %>"
  data-label-provide-nonempty-filename="<%= t('dashboard.files_provide_nonempty_filename') %>"
  data-label-provide-rename-filename="<%= t('dashboard.files_provide_rename_filename') %>"
  data-label-see-details="<%= t('dashboard.files_see_details') %>"
  >

</div>
