<% if file_counter == 0 %>
  <li class="breadcrumb-item">
    <span id="<%= files_path(@filesystem, Dir.home) %>" class="fa fa-home clickable"></span>
  </li>
  <li class="breadcrumb-item">
      <span id="<%= files_path(@filesystem, full_path.parent) %>" class="fa fa-arrow-up clickable"></span>
  </li>
<% end %>

<% if file_counter == (file_count - 1) %>
  <li class="breadcrumb-item">
    <%= path_segment_with_slash(@filesystem, file.basename.to_s, file_counter, file_count) %>
  </li>
<% else %>
  <li class="breadcrumb-item">
      <span id="<%= files_path(@filesystem, file) %>" class="clickable"><%= path_segment_with_slash(@filesystem, file.basename.to_s, file_counter, file_count) %></span>
  </li>
<% end %>
