<% if file_counter == 0 %>
  <li class="breadcrumb-item">
    <a href="#" id="<%= files_path(@filesystem, Dir.home) %>" class="fa fa-home icon-link link-dark" aria-label="<%= I18n.t('dashboard.path_selector_home') %>"></a>
  </li>
  <li class="breadcrumb-item">
    <a href="#" id="<%= files_path(@filesystem, full_path.parent) %>" class="fa fa-arrow-up icon-link link-dark" aria-label="<%= I18n.t('dashboard.path_selector_parent_directory') %>"></a>
  </li>
<% end %>

<% if file_counter == (file_count - 1) %>
  <li class="breadcrumb-item">
    <%= path_segment_with_slash(@filesystem, file.basename.to_s, file_counter, file_count) %>
  </li>
<% else %>
  <li class="breadcrumb-item">
    <a href="#" id="<%= files_path(@filesystem, file) %>"><%= path_segment_with_slash(@filesystem, file.basename.to_s, file_counter, file_count) %></a>
  </li>
<% end %>
