<h2>files index page</h2>

<div class="text-right">
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-folder" aria-hidden="true"></i> Go To...</button>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-terminal" aria-hidden="true"></i> Open in Terminal</button>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-file-plus" aria-hidden="true"></i> New File</button>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-folder-plus" aria-hidden="true"></i> New Directory</button>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-upload" aria-hidden="true"></i> Upload</button>
  <label>
    <input type="checkbox" id="show-dotfiles"> Show Dotfiles
  </label>
  <label>
    <input type="checkbox" id="show-owner-mode"> Show Owner/Mode
  </label>
</div>

<ol class="breadcrumb">
  <% @path.descend do |f| %>
  <li>
    <%= link_to f.basename, files_path(f) %>
  </li>
  <% end %>
</ol>

<div class="row">
<div class="col-md-3">
<%# FIXME: need a better solution instead of favorite links tied to an app? duplicates code in OodApp#links %>
<ul class="nav nav-pills nav-stacked well well-sm">
  <li role="presentation"><%= link_to 'Home Directory', files_path(Dir.home), style: "padding-top: 5px;padding-bottom: 5px;" %></li>
  <% OodFilesApp.new.favorite_paths.each do |p| %>
    <li><%= link_to p.title || p.path.to_s, files_path(p.path.to_s), style: "padding-top: 5px;padding-bottom: 5px;" %>
  <% end %>
</ul>
</div>

<div class="col-md-9">

<div>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-eye" aria-hidden="true"></i> View</button>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-edit" aria-hidden="true"></i> Edit</button>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-font-case" aria-hidden="true"></i> Rename</button>
  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-copy" aria-hidden="true"></i> Copy/Move</button>
  <button type="button" class="btn btn-danger pull-right btn-sm"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
</div>

<table class="table table-striped table-condensed" id="directory-contents">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Size</th>
      <th>Modified at</th>
      <th>Owner</th>
      <th>Mode</th>
    </tr>
  </thead>
  <tbody>
  <% @files.each do |f| %>
    <tr>
      <td><%= f[:directory] ? '<span class="fa fa-folder" style="color: gold"></span>'.html_safe : '<span class="fa fa-file" style="color: lightgrey"></span>'.html_safe %></td>
      <td><%= link_to f[:name], files_path(@path.join(f[:name]).to_s) %></td>
      <td><%= f[:size] %></td>
      <td><%= f[:date] %></td>
      <td><%= f[:owner] %></td>
      <td><%= f[:mode] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>
</div>

<%# FIXME: problem with not using tables %>
<script>
$('#directory-contents').DataTable({
  paging:false,
  //FIXME: need some mixture of flexbox to control height
  scrollY: '65vh',
  scrollCollapse: true,
  select: {
    style: 'os',
    className: 'selected info',
    toggleable: false
  }
});
</script>
