<li class="dropdown" title="Develop">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-code"></i><span class="hidden-xs hidden-sm"> Dev</span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="<%= restart_url %>"><i class="fa fa-refresh"></i> Restart Web Server</a></li>
    <li><a href="<%= ENV['OOD_DASHBOARD_DEV_DOCS_URL'] %>" target="_blank"><i class="fa fa-book"></i> Developer Documentation</a></li>
    <li><a href="<%=  products_path(type: "dev") %>"><i class="fa fa-gear"></i> <%= products_title(:dev) %></a></li>
    <li><a href="<%= products_path(type: "usr") %>"><i class="fa fa-share-alt"></i> <%= products_title(:usr) %></a></li>
  </ul>
</li>
