<li class="dropdown" title="<%= group.title %>" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= group.title %><span class="caret"></span></a>
  <ul class="dropdown-menu">

    <% if group.has_batch_connect_apps? %>
      <%= nav_link "Interactive Sessions", "list", batch_connect_sessions_path %>
      <%= content_tag "li", "", class: "divider", role: "separator" %>
    <% end %>

    <% OodAppGroup.groups_for(apps: group.apps, group_by: :subcategory).each_with_index do |g, index| %>
      <%= content_tag "li", "", class: "divider", role: "separator" if index > 0 %>
      <%= content_tag "li", g.title, class: "dropdown-header" unless g.title.empty? %>
      <% g.apps.each do |app| %>

        <% if app.role == "files" %>
          <%= nav_link "Home Directory", "home", OodAppkit.files.url(path: @user.home), target: "_blank" %>

          <% OodFilesApp.new.favorite_paths.tap do |paths| %>
            <%= content_tag "li", "", class: "divider", role: "separator" if paths.count > 0 %>
            <% paths.each do |path| %>
              <%= nav_link path.to_s, "folder", OodAppkit.files.url(path: path), target: "_blank" %>
            <% end %>
          <% end %>

        <% elsif app.role == "shell" %>
          <%= nav_link("Shell Access", "terminal", OodAppkit.shell.url, target: "_blank") if login_clusters.count == 0 %>

          <% login_clusters.each do |c| %>
            <%= nav_link "#{c.metadata.title} Shell Access", "terminal", OodAppkit.shell.url(host: c.login.host), target: "_blank" %>
          <% end %>

        <% elsif app.role == "batch_connect" %>
          <%# batch connect apps open in dashboard, so can open in same window %>
          <% app.batch_connect.sub_app_list.each do |sub_app| %>
            <li class="<%= app.role %>"><a href="<%= new_batch_connect_session_context_path(token: sub_app.token) %>"><%= app_icon_tag(app) %> <%= sub_app.title %></a></li>
          <% end %>
        <% else %>
          <li class="<%= app.role %>"><a href="<%= app_path(app.name, app.type, app.owner) %>" target="_blank"><%= app_icon_tag(app) %> <%= app.title %></a></li>
        <% end %>

      <% end %>
    <% end %>
  </ul>
</li>
