<li class="dropdown" title="<%= group.title %>" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= group.title %><span class="caret"></span></a>
  <ul class="dropdown-menu">

    <% if group.has_batch_connect_apps? %>
      <%= nav_link "Interactive Sessions", "list", batch_connect_sessions_path %>
      <%= content_tag "li", "", class: "divider", role: "separator" %>
    <% end %>

    <% OodAppGroup.groups_for(apps: group.apps, group_by: :subcategory).each_with_index do |g, index| %>
      <%= content_tag "li", "", class: "divider", role: "separator" if index > 0 %>
      <%= content_tag "li", g.title, class: "dropdown-header" unless g.title.empty? %>
      <% g.apps.each do |app| %>
        <% app.links.each do |link| %>
          <li>
            <%= link_to link.url.to_s, target: "_blank" do %>
              <%= link.icon ? fa_icon(link.icon) : app_icon_tag(app) %> <%= link.title %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</li>
