<%= bootstrap_form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.select :host, Servers, { selected: @template.host, label: "Default Batch Server:" }, { class: "selectpicker" } %>
  </div>
  <div class="field">
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
  <%= f.submit "Save" %>
  <%= link_to "Cancel", :osc_jobs, :class => "btn btn-default" %>
  <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span> Delete".html_safe, @template, method: :delete, :class => "btn btn-danger pull-right" unless @template.new_record? %>

  </div>
<% end %>
