<h3>Listing templates</h3>

<%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a New Template'.html_safe, new_template_path, :class => "btn btn-default" %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Path</th>
      <th>Host</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.id %></td>
        <td><%= template.name %></td>
        <td><%= template.path %></td>
        <td><%= template.host.titleize unless template.host.nil? %></td>
        <td><%= template.notes %></td>
        <td><%= link_to 'Show', template_path(template), class: 'btn btn-default' unless template.system? %></td>
        <td><%= link_to 'Edit', edit_template_path(template), class: 'btn btn-default' unless template.system? %></td>
        <td><%= link_to 'Destroy', template, method: :delete, class: 'btn btn-danger' unless template.system? %></td>
      </tr>
    <% end %>
  </tbody>
</table>






