<div class="float-end hidden-xs hidden-sm">
  <%= t('dashboard.quota_reload_message') %>
</div>
<ul class="list-unstyled">
  <li class="alert-heading">
    <strong><%= t('dashboard.quota_warning_prefix_html') %></strong>
    <span>
      <%= link_to OodAppkit.files.url(path: quota.path).to_s, class: "text-danger", target: "_blank" do %>
        <strong><%= quota.path %></strong>
      <%- end -%>
    </span>
  </li>
  <li>
    <%= quota.to_s %><%= ". #{t('dashboard.quota_additional_message')}" %>
  </li>
  <li>
    <%=
      render(
        partial: "shared/insufficient_quota_progress_bar",
        locals: { percent: quota.percent_total_usage }
      )
    %>
  </li>
</ul>
