<div class="alert-heading h4">
  <%= t('dashboard.balance_warning_prefix_html', units_balance: balance.units_balance, unit: balance.unit) %>
  <strong><%= balance.project_type %> <%= balance.balance_object %></strong>
</div>
<p><%= balance.to_s %>. <%= t('dashboard.balance_additional_message', balanace_units: balance.balanace_units, unit: balance.unit) %></p>
<p class="text-muted d-none d-md-block">
  <%= t('dashboard.balance_reload_message_html', last_update: local_time(balance.updated_at, format: '%Y/%m/%d at %l:%M%p')) %>
</p>
