
<!-- Modal -->
<div
    class="modal fade"
    id="<%= path_selector_id %>" tabindex="-1" role="dialog"
    aria-labelledby="modal-path-selector" aria-hidden="true"
    data-show-files="<%= show_files %>"
    data-show-hidden="<%= show_hidden %>"
    data-initial-directory="<%= initial_directory %>"
    data-files-path="<%= files_path %>"
    data-table-id="<%= table_id %>"
    data-breadcrumb-id="<%= breadcrumb_id %>"
    data-select-button-id="<%= button_id %>"
    data-input-field-id="<%= input_field_id %>"
    data-file-pattern="<%= file_pattern %>"
    >

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-path-selector-title">Select Your Working Directory</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <div class="container-fluid">
          <div class="row">
          <% if favorites %>
            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">Favorites</div>
                <ol id="favorites" class="list-group text-nowrap">
                  <%= render partial: 'favorites', collection: favorites, as: :path %>
                </ol>
              </div>
            </div>
          <% end %>
        
      
            <div class="<%= favorites ? 'col-sm-7' : 'col-sm-12' %>">
              <ol id="<%= breadcrumb_id %>" class="breadcrumb breadcrumb-no-delimiter">
              </ol>

              <div class="d-none alert alert-warning" role="alert" id="forbidden-warning">
                <%= t('dashboard.batch_connect_sessions_path_selector_forbidden_error') %>
              </div>

              <div class="d-flex justify-content-center" id="<%= table_id %>_spinner">
                <div class="loading-icon spinner-border rem-5" role="status">
                  <span class="sr-only">Loading...</span> 
                </div>
              </div>
              <table class="table table-hover table-condensed d-table w-100" id="<%= table_id %>">
                <caption>Choose a file or directory to use in the form.</caption>
                <thead>
                  <tr>
                    <th>Type<span aria-hidden="true"></span></th>
                    <th>Name<span aria-hidden="true"></span></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer sticky-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= I18n.t('dashboard.close') %></button>
        <button type="button" class="btn btn-primary" id="<%= button_id %>"><%= I18n.t('dashboard.select_path') %></button>
      </div>
    </div>
  </div>
</div>