<%# Uses rails_bootstrap_form gem. API at: https://github.com/bootstrap-ruby/rails-bootstrap-forms %>

<%= bootstrap_form_for(workflow) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>

    <%= f.text_field :name %>
    <%= f.select :batch_host, OODClusters.map { |key, val| [ "#{val.title} (#{val.resource_mgr_server.host})", key ] }, { selected: @workflow.batch_host, label: "Batch Server:" }, { class: "selectpicker" } %>

    <div class="form-group">
      <label class="control-label" for="workflow_script_path">Specify job script:</label>
      <select class="form-control selectpicker" id="workflow_script_path" name="workflow[script_path]">
        <% workflow.folder_contents.each do |content| %>
          <% if File.file? content %>
            <%= "<option #{"selected" if (content == workflow.script_path.to_s)} value=\"#{content}\">#{content.gsub(workflow.staged_dir, "").sub!(/^\//, '')}</option>".html_safe %>
          <% end %>
        <% end %>
      </select>
    </div>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= f.button 'Reset', type: :reset, class: 'btn btn-default' %>

    <%= link_to 'Back', workflows_path, class: 'btn btn-default' %>
<% end %>
