<%# Uses rails_bootstrap_form gem. API at: https://github.com/bootstrap-ruby/rails-bootstrap-forms %>

<%= bootstrap_form_for(osc_job) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>

    <%= f.text_field :name %>
    <%= f.select :batch_host, Servers.map { |key, val| [ "#{key.titleize} (#{val[:pbshost]})", key ] }, { label: "Batch Server:" }, { class: "selectpicker" } %>

    <div class="form-group">
      <label class="control-label" for="osc_job_script_path">Specify job script:</label>
      <select class="form-control selectpicker" id="osc_job_script_path" name="osc_job[script_path]">
        <% osc_job.folder_contents.each do |content| %>
          <% if File.file? content %>
            <%= "<option #{"selected" if (content == osc_job.script_path.to_s)} val=\"#{content}\">#{content.gsub(osc_job.staged_dir, "")}</option>".html_safe %>
          <% end %>
        <% end %>
      </select>
    </div>


    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= f.button 'Reset', type: :reset, class: 'btn btn-default' %>

    <%= link_to 'Back', osc_jobs_path, class: 'btn btn-default' %>
    <%= link_to 'Show', osc_job, class: 'btn btn-primary' unless osc_job.new_record? %>
<% end %>
