<div class="page-header" xmlns="http://www.w3.org/1999/html">
  <h2>Listing Jobs</h2>
</div>

<div class="col-md-7">
  <div class="panel">
    <a class="btn btn-default btn-sm btn-info" id="new_job_button" href="<%= new_workflow_path %>" data-toggle="tooltip" title="Create a new job from a template" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Job</a>
    <a class="btn btn-default btn-sm btn-info" id="copy_button" data-toggle="tooltip" title="Copy Job" role="button" data-method="get" disabled><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Copy Job</a>

    <a class="pull-right btn btn-default btn-sm btn-templates" id="template_button" data-toggle="tooltip" title="Create template from selected job" data-method="get" role="button" disabled><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Create Template</a>
  </div>
</div>

<div class="col-md-5">
  <!-- placeholder -->
</div>

<div class="row">

  <div class="col-md-7">
    <div id="job-list-view" class="panel panel-default">

        <div class="panel-body">
          <a class="btn btn-default btn-sm btn-primary" id="open_dir_button" target="_blank" data-toggle="tooltip" title="Open Directory in File Manager" role="button" disabled>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Files
          </a>
          <!-- <a class="btn btn-default btn-sm" id="view_button" data-toggle="tooltip" title="View Job" role="button" data-method="get" disabled><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> -->
          <a class="btn btn-default btn-sm btn-primary" id="edit_button" data-toggle="tooltip" title="Specify Job Host and Script" role="button" data-method="get" disabled>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Job Options
          </a>

          <a class="btn btn-success btn-sm" id="submit_button" data-toggle="tooltip" title="Submit Job" role="button" data-method="get" disabled>
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Submit
          </a>
          <a class="btn btn-default btn-sm btn-warning" id="stop_button" data-toggle="tooltip" title="Stop Job" role="button" data-method="get" disabled>
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
          </a>
          <a class="btn btn-danger btn-sm pull-right" id="destroy_button" data-toggle="tooltip" title="Delete Job" data-method="get" data-confirm="Are you sure?" role="button" disabled>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          </a>
        </div>

        <div class="panel-body">
          <table id="job-list-table" class="table data-table" style="width:100%">
            <thead>
            <tr>
              <th>Created</th>
              <th>Name</th>
              <th>PBS ID</th>
              <th>Cluster</th>
              <th>Status</th>
              <!-- FILE_SIZE_FEATURE
              <th>Size</th>
              -->
            </tr>
            </thead>

            <tbody>
            <% @workflows.each do |workflow| %>
                <tr class="job-row" id="<%=workflow.id %>">
                  <td data-sort="<%= workflow.id %>"><small><%= workflow.created_at.strftime('%F %T') %></small></td>
                  <td><strong><%= workflow.name %></strong></td>
                  <td><%= workflow.pbsid %></td>
                  <td><%= workflow.batch_host.titleize if workflow.batch_host %></td>
                  <td id="status_label_<%= workflow.id %>"><%= status_label(workflow) %></td>
                  <!-- FILE_SIZE_FEATURE
                    <td><%# number_to_human_size(Filesystem.new.path_size(workflow.staged_dir)) %></td>
                    -->
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

    </div>
  </div>

  <div class="col-md-5" id="job-details-container">
    <div class="panel panel-default" id="job-details-panel" hidden>
      <div class="panel-body">
        <p>Job Name: <h4><strong><span id="job-details-name"></span></strong></h4></p>
        <p>Submit to:</p>
          <select class="form-control" id="job-details-server-select" disabled>
            <% Servers.each do |s| %>
                <option id="<%= s.first %>" value="<%= s.first %>"><%= s.first.titleize if s.first %></option>
            <% end %>
          </select>
      </div>

      <div id="script-details-view" class="panel-body">
        <p>Script location:</p>
        <pre id="job-details-staged-dir"></pre>
      </div>

      <div id="job-details-view" class="panel-body folder-content-view">
        <p>Folder Contents:</p>
        <span id="job-details-staged-dir-contents"></span>
      </div>
    </div>

    <div class="panel panel-default" id="script-details-panel" hidden>
      <div id="script-text-panel" class="panel-body">
        <p>Submit Script:</p>
        <h4 id="script-name"></h4>
        <p>Script contents:</p>
        <pre id="script-text-data"></pre>
        <p>
          <a class="btn btn-primary btn-sm pull-right" style="margin: 5px" id="open-script-dir-button" target="_blank" data-toggle="tooltip" title="Open Directory in File Manager" role="button"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Open Dir</a>
          <a class="btn btn-default btn-sm pull-right" style="margin: 5px" id="open-terminal-dir-button" target="_blank" data-toggle="tooltip" title="Open Directory in Terminal" role="button"><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Open Terminal</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Joyride steps -->
  <ol id="joyride" style="display: none;" data-joyride>
    <li>
      <ol>
        <h4>
          Steps to submit a job:
        </h4>
        <li>
          Step One: Crete a new job from a template.
        </li>
        <li>
          Step Two: Edit the files in the Job via the file explorer.
        </li>
        <li>
          Step Three: Submit the job and monitor the progress from the "My Jobs" page.
        </li>
      </ol>
    </li>
    <li data-id="new_job_button">
      <p>
        Begin by creating a new job from an existing template.
      </p>
    </li>
    <li data-id="copy_button">
      <p>
        Copy an existing job by selecting it below and clicking here.
      </p>
    </li>
    <li data-id="template_button">
      <p>
        Click here to create a new template from an existing job.
      </p>
    </li>
    <li data-id="templates_navbar_link">
      <p>
        Click here to view and manage your existing templates.
      </p>
    </li>
    <li data-id="open_dir_button">
      <p>
        Select a job and click here to open the path in the file explorer.
      </p>
    </li>
    <li data-id="edit_button">
      <p>
        Select an existing job and click here to quickly modify the jobs's server and submit script.
      </p>
    </li>
    <li data-id="submit_button">
      <p>
        Select an existing job and click here to submit the job to the batch queue.
      </p>
    </li>
    <li data-id="stop_button">
      <p>
        Select a running or queued job and click here to stop the job.
      </p>
    </li>
    <li data-id="destroy_button">
      <p>
        Select an existing job and click here to remove the job from the list.
      </p>
    </li>

  </ol>

</div>




