<div class="container">
  <div class="page-header">
    <h3>Create a New Job</h3>
  </div>

  <%# render 'form', workflow: @workflow %>

  <div class="row">

    <div class="col-md-7">
      <div id="job-list-view" class="panel panel-default">
        <div class="panel-body">

          <div class="panel-body">
            <div id="joyride-table-stop"></div>
            <table id="new-job-template-table" class="table data-table-new-job" style="width:100%">
              <thead>
              <tr>
                <th id="name-label">Name</th>
                <th>Cluster</th>
                <th>Source</th>
              </tr>
              </thead>

              <tbody>
              <% @templates.each_with_index do |template, index| %>
                  <tr class="job-row" data-name="<%= template.name %>" data-host="<%= template.host %>" data-path="<%= template.path %>" data-script="<%= template.manifest.script %>" data-api="<%= Filesystem.new.api(template.path) %>" data-fs="<%= Filesystem.new.fs(template.path) %>" data-notes="<%= template.notes %>">
                    <td><%= template.name %></td>
                    <td><%= template.host.titleize %></td>
                    <td><%= template.source.name %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default" id="job-details-panel">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Template Notes:</label><textarea class="form-control" id="notes-field" rows="6" disabled></textarea></div>

          <%= bootstrap_form_for(@workflow) do |f| %>
              <%= f.alert_message "Please fix the errors below." %>

              <%= f.text_field :name, label: 'Job Name:', required: true, id: 'name-field' %>

              <%= f.select :batch_host, OODClusters.map { |key, val| [ "#{val.title} (#{val.resource_mgr_server.host})", key ] }, { label: "Batch Server:" }, { class: "selectpicker", id: "batch-host-select", required: true } %>
              <%= f.text_field :script_name, label: 'Script Name:', required: true, id: "script-path-field" %>

              <%= f.hidden_field :staging_template_dir, required: true, id: 'staging-template-dir' %>

              <%= f.submit 'Create New Job', class: 'btn btn-primary', id: 'create-job-button' %>

              <a class="btn btn-default" id="reset-template-data" data-toggle="tooltip" title="Reset fields to template default" role="button">Reset</a>

              <a class="btn btn-default pull-right" id="open-template-dir-button" target="_blank" data-toggle="tooltip" title="Open Template Directory in File Manager" role="button" disabled><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Open Dir</a>
          <% end %>
        </div>
      </div>

      <div id="template-details-view" hidden>
        <div  class="panel-body">
          <p>Template location:</p>
          <pre id="template-location"></pre>
        </div>
        <div class="panel-body folder-content-view">
          <p>Folder Contents:</p>
          <span id="template-folder-contents"></span>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>

<ol id="joyride" style="display: none;" data-joyride>
  <li data-id="name-label">
    <p>
      First, select a template that will be used to create a new job.
    </p>
  </li>
  <li data-id="name-field">
    <p>
      Enter a name for the job you wish to create.
    </p>
  </li>
  <li data-id="batch-host-select">
    <p>
      Select the cluster where the job will be submitted.
    </p>
  </li>
  <li data-id="script-path-field">
    <p>
      Enter the name of the script that will be submitted to the batch server. (If different from default)
    </p>
  </li>
  <li data-id="create-job-button">
    <p>
      Finally, click "Create Job" to add this to your list of jobs.
    </p>
  </li>
</ol>
