<ol>
  <li>
    <%= t('dashboard.batch_connect_vnc_download_html', realvnc_link: '<a href="https://www.realvnc.com/en/connect/download/viewer/" rel="noopener">RealVNC</a>').html_safe %>
  </li>
  <li>
    <% if Configuration.native_vnc_login_host %>
    <p>
      <%= t('dashboard.batch_connect_vnc_ssh_tunnel') %>
    </p>
    <pre><code>ssh -f -N -L <%= localport %>:<%= connect.host %>:<%= connect.port %> <%= ENV["USER"] %>@<%= Configuration.native_vnc_login_host %></code></pre>
    <% else %>
    <p>
      <%= t('dashboard.batch_connect_vnc_ssh_tunnel_replace_host_html').html_safe %>
    </p>
    <pre><code>ssh -f -N -L <%= localport %>:<%= connect.host %>:<%= connect.port %> <%= ENV["USER"] %>@<strong>SSH_HOST</strong></code></pre>
    <% end %>
    <p><%= t('dashboard.batch_connect_vnc_windows_terminals_html', pwsh: '<a href="https://github.com/PowerShell/PowerShell/releases/latest">Powershell</a>', putty: '<a href="https://www.chiark.greenend.org.uk/~sgtatham/putty/">PuTTy</a>', wsl: '<a href="https://docs.microsoft.com/en-us/windows/wsl/install-win10">Windows Subsystem Linux</a>').html_safe %></p>
  </li>
  <li>
    <%= t('dashboard.batch_connect_vnc_client_connect_html', port: localport).html_safe %>
  </li>
  <li>
    <p><%= t('dashboard.batch_connect_vnc_password_html', password: connect.password).html_safe %></p>
  </li>
</ol>
