<%= bootstrap_form_tag(url: asset_path("noVNC-1.3.0/vnc.html", skip_pipeline: true), method: "get") do |f| %>
 <%= hidden_field_tag(:autoconnect, 'true') %>
 <%= hidden_field_tag(:path, "rnode/#{connect.host}/#{connect.websocket}/websockify") %>
 <%= hidden_field_tag(:resize, "remote") %>
 <%= hidden_field_tag(:password, connect.password) %>

 <div class="row">
  <div class="col-sm-6">
   <%= f.number_field(:compression, class: 'custom-range', type: 'range', min: 0, max: 9, value: Configuration.novnc_default_compression.to_i, label: "Compression", help: "0 (low) to 9 (high)") %>
  </div>
  <div class="col-sm-6">
   <%= f.number_field(:quality, class: 'custom-range', type: 'range', min: 0, max: 9, value: Configuration.novnc_default_quality.to_i, label: "Image Quality", help: "0 (low) to 9 (high)") %>
  </div>
 </div>

  <%= javascript_tag nonce: true do -%>
    // Functions defined in batch_connect_sessions.js
    for(var name of ['compression', 'quality']) {
      tryUpdateSetting(name);
      installSettingHandlers(name);
    }
  <% end -%>

 <%= f.submit( t('dashboard.batch_connect_sessions_novnc_launch', app_title: app_title), class: 'btn btn-primary', :formtarget => "_blank") %>
 <%= link_to t('dashboard.batch_connect_sessions_novnc_view_only'), novnc_link(connect, view_only: true), class: 'btn btn-light float-end border border-dark', target: '_blank' %>
<% end %>
