<%= turbo_frame_tag "project_directory" do %>
  <div class="d-flex justify-content-left lead text-weight-800">
    <strong>.../projects<%= @path.to_s.split('projects')[1] %></strong>
  </div>
  <table class="table table-striped table-condensed w-100 table-hover caption-right">
    <thead>
      <tr>
        <th><%= column_head_link(:type, sort_by, path, project.id) %></th>
        <th><%= column_head_link(:name, sort_by, path, project.id) %></th>
        <th><%= column_head_link(:size, sort_by, path, project.id) %></th>
        <th><%= column_head_link(:date, sort_by, path, project.id) %></th>
        <th><%= column_head_link(:owner, sort_by, path, project.id) %></th>
        <th><%= column_head_link(:mode, sort_by, path, project.id) %></th>
      </tr>
    </thead>
    <tbody>
        <%= render partial: "files", locals: { project: project, path: path, files: files, sort_by: sort_by } %>
    </tbody>
  </table>
  <div class="row content-justied-center col-6 mx-auto">
    <div class="btn btn-primary">
      <span><i id="new-dir-btn" class="fa fa-folder-open"></i>&nbsp<%= files_button %></span>
    </div>
  </div>
<% end %>