  <tr>
    <td>
      <input type="checkbox" class="file-checkbox disabled" title="Select"></input>
    </td>
    <td>
    </td>
    <td>
      <%= link_to("..", project_files_path(project_id: project_id, filepath: sanitize("#{path}/..")), data: { turbo_frame: "project_files" }) %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% files.each do |file| %>
    <tr>
      <td>
        <input type="checkbox" class="file-checkbox" data-file-id="<%= file[:id] %>" title="Select"></input>
      </td>
      <td>
        <%= file[:type] %>
      </td>
      <td>
        <%= link_to(file[:name], project_files_path(project_id: project_id, filepath: sanitize("#{path}/#{file[:name]}")), data: { turbo_frame: "project_files" }) %>
      </td>
      <td>
        <span class="sr-only">Actions</span>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-dark btn-sm" title="View file" data-file-id="<%= file[:id] %>">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-dark btn-sm" title="Download file" data-file-id="<%= file[:id] %>">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-dark btn-sm" title="Delete file" data-file-id="<%= file[:id] %>">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </td>
      <td>
        <%= file[:size] %>
      </td>
      <td>
        <%= file[:modified_at] %>
      </td>
      <td>
        <%= file[:owner] %>
      </td>
      <td>
        <%= file[:mode] %>
      </td>
    </tr>
  <%- end -%>