<%= turbo_frame_tag "project_directory" do %>

  <div class="border border-2 shadow p-3 mt-3 mb-5 bg-white rounded">
    <div class="h5 border-bottom border-1 pb-2">
      <div class="row">
        <div class="pl-2">
          <%= link_to("",
              project_directory_path(project_id: @project.id, dir_path: "#{@path.parent}", sorting_params: @sorting_params),
              class: 'fa fa-window-close align-self-start button buttom-sm text-danger',
              data: { turbo_frame: "project_directory" }
            )
          %>&nbsp
          .../projects<%= @path.to_s.split('projects')[1] %>
        </div>
      </div>
    </div>
    <div >
      <pre><%= @file %></pre>
    </div>
    <div>
      <div class="my-2 btn btn-sm btn-primary">
        <span><i class="fa fa-folder-open"></i>&nbsp<%= files_button %></span>
      </div>
    </div>
  </div>
<%- end -%>