<%= bootstrap_form_for @project do |form| %>

<div class='card'>
    <h5 class='card-header'>Project Details</h5>
    <div class='card-body'>
        <div class='col-md-5'>
          <%= form.text_field :dir, label: 'Project Name', class: 'form-control', 
          required: true %>
        </div>
    </div>
</div>
<br>
  <p>
    <%= form.submit 'Save', class: 'btn btn-primary', title: 'Save project' %>
    <%= form.button 'Reset', type: :reset, class: 'btn btn-default', 
    title: 'Clear form fields' %>
    <%= link_to 'Back', projects_path, class: 'btn btn-default', 
    title: 'Return to projects page' %>
  <p>
<% end %>
