
<%- 
  id = "job_#{job.cluster}_#{job.id}"
-%>

<div>
  <button class="badge <%= status_class(job.status.to_s) %> rounded-pill border-0 btn" type="button" data-bs-toggle="collapse" data-bs-target="#<%= id %>_data">
    <span>
      <%= job.id %> <%= status_text(job.status.to_s) %>
    </span>
  </button>
  <div class="collapse" id="<%= id %>_data">
    <div class="card card-body">
      <table class="table table-bordered table-sm m-0 mb-2">
        <% job.to_human_display.each do |name, value| %>
          <tr>
            <td><strong><%= name %></strong></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </table>
      <div class="d-flex flex-row-reverse mt-2 mx-2">
        <%= job_details_buttons(job.status.to_s, job, project) %>
      </div>
    </div>
  </div>
</div>
