
<%- 
  id = "job_#{job.cluster}_#{job.id}"
-%>

<turbo-stream action="replace" target="<%= id %>">
  <template>
    <button class="badge <%= status_class(job.status.to_s) %> rounded-pill border-0 btn" type="button" data-bs-toggle="collapse" data-bs-target="#<%= id %>Data">
      <span>
        <%= job.id %> <%= status_text(job.status.to_s) %>
      </span>
    </button>
    <div class="collapse" id="<%= id %>Data">
      <div class="card card-body col-md-4">
        <% readable_job_data(job).each do |category| %>
          <table class="table table-bordered m-0">
            <% category.each do |name, value| %>
              <tr>
                <td><strong><%= name %></strong></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
    </template>
</turbo-stream>
