
<%-
  disabled = !@valid_project
  disabled_class = disabled ? 'disabled' : ''
  edit_title = "#{t('dashboard.edit')} launcher #{launcher.title}"
  delete_title = "#{t('dashboard.delete')} launcher #{launcher.title}"
  active_job_list_id = "active_job_list_#{launcher.id}"
  active_job_list_button_id = "active_job_button_#{launcher.id}"
-%>

<div class='card'>
  <div class='card-header'>
    <div class="row">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <%= link_to(
          edit_project_launcher_path(@project.id, launcher.id),
          class: "btn btn-primary #{disabled_class}",
          id: "edit_#{launcher.id}",
          title: edit_title) do
        %>
          <i class="fa fa-pencil"></i>
        <%- end %>
      </div>

      <div class="col-8">
        <h2 class='text-center h4'><%= launcher.title %></h2>
      </div>

      <div class="col-2 d-flex align-items-center justify-content-center">
        <%= button_to(
          project_launcher_path(@project.id, launcher.id),
          id: "delete_#{launcher.id}",
          class: "btn btn-danger float-right",
          title: delete_title,
          data: { confirm: I18n.t('dashboard.jobs_scripts_delete_script_confirmation') },
          method: :delete) do
        %>
          <i class="fa fa-trash"></i>
        <%- end -%>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-4">
        <%= button_to(
          t('dashboard.batch_connect_form_launch'),
          submit_project_launcher_path(@project.id, launcher.id),
          class: 'btn btn-secondary',
          title: 'Launch script with cached or default values',
          disabled: disabled,
          params: launcher.quick_launch_params
        )
        %>
      </div>

      <div class="col-4">
        <%= link_to(
            t('dashboard.show'),
            project_launcher_path(@project.id, launcher.id),
            class: "btn btn-success float-right #{disabled_class}")
        %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-4">
        <div class="list-group">
          <a id="<%= active_job_list_button_id %>" class="btn btn-success list-toggler"
            data-toggle="collapse" data-target="#<%= active_job_list_id %>"
            aria-expanded="true" aria-controls="<%= active_job_list_id %>">
            <span>Active Jobs</span>
          </a>

          <div id="<%= active_job_list_id %>" >
          <%- launcher.active_jobs.each do |job| -%>
            <a class="list-group-item list-group-item list-group-item-action justify-content-center">
              <%= job.id %>
            </a>
            <%- end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

