<div class='page-header text-center'>
  <h1>Project Manager</h1>
  <small class="text-muted">This is a preview of the new 'Project Manager'</small>
</div>

<div class="row mt-3">
  <div class="col-md-9">
    <div class="row">
      <% @projects.each do |project| %>
        <div id="<%= project.id %>" class="col-md-3 project-icon project-card">
          <%= link_to(project_path(project.id), class: 'text-dark') do %>
            <div class="text-center d-flex justify-content-center">
              <strong>
                <%= icon_tag(URI.parse(project.icon)) %>
                <%= content_tag(:p, project.title) %>
              </strong>
            </div>
            <div class="row">
              <div class="col">
                <%= button_to 'Delete', project_path(project.id), class: 'btn btn-danger w-100 mb-1', method: 'delete',
                    form: { class: 'button_to d-flex justify-content-center' },
                    data: { confirm: I18n.t('dashboard.jobs_project_delete_project_confirmation') }
                %>
              </div>
              <div class="col">
                <%= button_to 'Edit', edit_project_path(project.id), class: 'btn btn-info w-100', method: 'get',
                    form: { class: 'd-flex justify-content-center' },
                    title: 'Edit project directory'
                %>  
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">

      <div class="mt-5 justify-content-center text-center project-icon">
        <%= link_to(new_project_path,
                      title: I18n.t('dashboard.jobs_create_blank_project'),
                      class: 'text-dark btn btn-link') do
        %>
          <div class="text-center d-flex justify-content-center">
            <strong>
              <%= icon_tag(URI.parse("fas://file-medical")) %><br>
              <%= I18n.t('dashboard.jobs_create_blank_project') %>
            </strong>
          </div>
        <% end %>
      </div>

      <%- if @templates.size.positive? -%>
        <div class="mt-5 justify-content-center text-center project-icon">
          <%= link_to(new_project_path({template: true}),
                        title: I18n.t('dashboard.jobs_create_template_project'),
                        class: 'text-dark btn btn-link') do
          %>
            <div class="text-center d-flex justify-content-center">
              <strong>
                <%= icon_tag(URI.parse("fas://copy")) %><br>
                <%= I18n.t('dashboard.jobs_create_template_project') %>
              </strong>
            </div>
          <% end %>
        </div> 
      <%- end -%>

      <div class="mt-5 justify-content-center text-center project-icon">
        <%= link_to(project_import_path,
                      title: I18n.t('dashboard.jobs_import_shared_project'),
                      class: 'text-dark btn btn-link') do
        %>
          <div class="text-center d-flex justify-content-center">
            <strong>
              <%= icon_tag(URI.parse("fas://file-import")) %><br>
              <%= I18n.t('dashboard.jobs_import_shared_project') %>
            </strong>
          </div>
        <% end %>
      </div>

  </div>
</div>
