<%= javascript_include_tag 'projects', nonce: true %>

<div class='page-header text-center'>
  <h1 class="my-2"><%= @project.title %></h1>

  <small class="text-muted">This is a preview of the new 'Project Manager'</small>
</div>


<div class='row row-cols-1 row-cols-md-2'>
  <p>
    <%= link_to 'Back', projects_path, class: 'btn btn-default', title: 'Return to projects page' %>
  </p>
</div>

<div class="row my-2">
  <a id="new-dir-btn" class="btn btn-outline-dark" href="<%= files_path(fs: 'fs', filepath: @project.directory ) %>">
    <i class="fas fa-folder-open" aria-hidden="true"></i>
    <%= t('dashboard.project') %> <%= t('dashboard.directory') %>
  </a>
</div>

<div class='card'>
  <h3 class='card-header'>Scripts</h3>
  <div class='card-body'>
    <table class='table table-bordered table-hover'>
      <thead>
        <tr>
          <th scope='col' class='text-center'>Job Info</th>
          <th scope='col' class='text-center'>Script Name</th>
          <th scope='col' class='text-center'>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @scripts.each do |script| %>
        <tr class="script-card" id="<%= script.id %>">
          <td
            class='text-center col-md-4'
            data-job-id="<%= script.most_recent_job_id %>"
            data-job-cluster="<%= script.most_recent_job_cluster %>"
            data-job-poller='true'
          >
            <div class="spinner-border"></div>
          </td>
          <td class='text-center col-md-4'><%= script.title %></td>
          <td class='col-md-12 text-center'>
          <div class="d-inline-flex">
            <%= link_to(
                t('dashboard.show'),
                  project_script_path(@project.id, script.id),
                  class: 'btn btn-success mx-1'
                )
            %>

            <%= link_to(
              t('dashboard.edit'),
              edit_project_script_path(@project.id, script.id),
              class: 'btn btn-primary mx-1',
            )
            %>

            <%= link_to(
              t('dashboard.delete'),
              project_script_path(@project.id, script.id),
              class: 'btn btn-danger mx-1',
              method: 'delete',
              data: { confirm: I18n.t('dashboard.jobs_scripts_delete_script_confirmation') },
              )
            %>

            <%-
              params = script.smart_attributes.map { |attr| ["script[#{attr.id}]", attr.value] }.to_h
            -%>

            <%= button_to(
              t('dashboard.batch_connect_form_launch'),
              submit_project_script_path(@project.id, script.id),
              class: 'btn btn-secondary mx-1',
              title: 'Launch script with cached values',
              data: {:method => "post"},
              params: params
            )
            %>
            </div>
          </td>
        <tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to('New Script', 
          new_project_script_path(@project.id),
          class: 'btn btn-info',  
          title: I18n.t('dashboard.jobs_project_create_new_project_directory'))
    %>
  </div>
</div>
