<div class='page-header text-center'>
  <h1>Project Space for <%= @project.name.titleize %></h1>
</div> 
<div class="row">
  <div class="col-2">
    <%= link_to 'New Script', new_project_script_url(project_id: @project.directory), class: 'btn btn-success', title: 'New Script' %>
  </div>
  <div clss="col-2">
    <%= link_to 'Back To Projects', projects_path, class: 'btn btn-success', title: 'Return to projects page' %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Script Name</th>
      <!-- <th scope="col">Preview Form</th> -->
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @scripts.each do |script| %>
      <tr>
        <th scope="row"><%= script.name %></th>
        <td>
          <%= link_to "Edit", OodAppkit.editor.edit(path: "#{@project.project_dataroot}/#{script.name}").to_s, 
            class: 'btn btn-primary btn-sm', :target => '_blank' %>
          
          <%= link_to 'Delete', project_script_path(@project.name, script.name), class: 'btn btn-danger', :method => :delete,
            data: {confirm: I18n.t('dashboard.jobs_project_delete_project_confirmation')} %>
      
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
