<%= javascript_include_tag 'projects', nonce: true %>
<%-
  disabled = !@valid_project
  disabled_class = disabled ? 'disabled' : ''
-%>

<div class="d-none" id="project_config" data-project-id="<%= @project.id %>">
</div>

<div class='row'>
  <div class="col-2 align-self-center justify-content-left d-flex">
    <%= link_to 'Back', projects_path, class: 'btn btn-default align-self-start', title: 'Return to projects page' %>
  </div>


  <div class='page-header text-center col-8'>
    <h1 class="my-2 h3"><%= @project.title %></h1>

    <small class="text-muted">This is a preview of the new 'Project Manager'</small>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-2 mt-3">
    <div class="list-group bg-white rounded">
      <a class="list-group-item list-group-item-action bg-light font-weight-bold list-toggler"
          data-bs-toggle="collapse" data-bs-target="#launcher_list"
          aria-expanded="true" aria-controls="launcher_list">
        <span class="lead fw-bolder"><%= t('dashboard.jobs_launchers') %></span>
      </a>

      <div id="launcher_list" class="collapse show">
        <%- @launchers.each do |launcher| -%>
        <div class="list-group-item list-group-item-action" id="launcher_<%= launcher.id %>">
          <div class="row launcher-item">
            <div class="col launcher-title">
              <%= launcher.title %>
            </div>
          </div>

          <%= render(partial: 'launcher_buttons', locals: { launcher: launcher }) %>
        </div>
        <%- end -%>
      </div>

      <a class="list-group-item list-group-item-action text-info font-weight-bold"
        href="<%= new_project_launcher_path(@project.id) %>">
        <%= t('dashboard.jobs_new_launcher') %>
      </a>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="border border-2 p-3 mt-3 mb-5 bg-white rounded">
      <div class="row">
        <h2 class="lead fw-bolder d-flex justify-content-center">Active Jobs</h2>
        <%= render(partial: 'job_details', collection: @project.active_jobs, as: :job, locals: { project: @project }) %>
      </div>

      <div class="row">
        <h2 class="lead fw-bolder d-flex justify-content-center">Completed Jobs</h2>
        <div id="completed_jobs" class="row">
          <%- @project.completed_jobs.each do |job| -%>
          <div class="col-md-4" id="<%= "job_#{job.cluster}_#{job.id}" %>">
            <%= render(partial: 'job_details_content', locals: { job: job, project: @project }) %>
          </div>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="directory_browser" class="border border-2 p-3 mt-3 mb-5 bg-white rounded">
      <h2 class="lead fw-bolder d-flex justify-content-center"><%= "#{t('dashboard.project')} #{t('dashboard.directory')}" %>: &nbsp<i><%= @project.id %></i></h2>
      <hr>
      <%= turbo_frame_tag 'project_directory', 
            src: directory_frame_path(
              files: @files,
              path: @project&.directory
           ) do
      %>
        <div class="d-flex justify-content-center">
          <div id="loading-icon" class="spinner-border rem-5" role="status">
            <span class="sr-only">Loading...</span> 
          </div>
        </div>
      <%- end -%>
    </div>
  </div>
</div>

<% unless @project.readme_path.nil? %>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-default fa fa-chevron-right" type="button" data-bs-toggle="collapse" data-bs-target="#readme" aria-expanded="true" aria-controls="readme"></button>
      <%= File.basename(@project.readme_path) %>
    </div>
    <div class="card-body collapse show" id="readme">
      <%= render_readme(@project.readme_path)  %>
    </div>
  </div>
<% end %>