<%= form_with model: @script do |form| %>
  <hr><%= @project.inspect %><hr>
<div class='page-header text-center'>
  <h1><%= @project.title %></h1>
</div>
<p><%= link_to "New Script", controller: "scripts", action: "new", project_id: @project.name %></p>

<div class='card'>
  <h3 class='card-header'>Scripts</h3>
  <div class='card-body'>
    <table class='table table-borderless'>
      <thead>
        <tr>
          <th>Script Name</th>
          <th>Actions</th>
        <tr>
      </thead>
      <tbody>
      <% @project.scripts.each do |script| %>
        <tr>
          <td><%= script.name %></td>
          <td>
            show | edit | delete
          </td>
        <tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class='row row-cols-1 row-cols-md-2'>
  <p>
    <%= link_to 'Back', projects_path, class: 'btn btn-default', title: 'Return to projects page' %>
  </p>
</div>

<% end %>
