<%= javascript_include_tag 'projects', nonce: true %>
<%-
  disabled = !@valid_project
  disabled_class = disabled ? 'disabled' : ''
-%>

<div class='row'>
  <div class="col-2 align-self-center justify-content-center d-flex">
    <%= link_to 'Back', projects_path, class: 'btn btn-default align-self-start', title: 'Return to projects page' %>
  </div>


  <div class='page-header text-center col-8'>
    <h1 class="my-2 h3"><%= @project.title %></h1>

    <small class="text-muted">This is a preview of the new 'Project Manager'</small>
  </div>
</div>

<div class="row my-2">
  <a id="new-dir-btn" class="btn btn-outline-dark" href="<%= files_path(fs: 'fs', filepath: @project.directory ) %>">
    <i class="fas fa-folder-open" aria-hidden="true"></i>
    <%= t('dashboard.project') %> <%= t('dashboard.directory') %> <span data-bs-toggle="project" data-url="<%= project_path(@project.id) %>"></span>
  </a>
</div>

<div class="row mb-3">
  <div class="col-2">
    <div class="list-group" id="launcher_list" role="tablist">

      <%- @scripts.each_with_index do |script, index| -%>
      <%- active_class = index.positive? ? '' : 'active' -%>
      <a class="list-group-item list-group-item list-group-item-action <%= active_class %>"
         id="show_<%= script.id %>" data-bs-toggle="list" href="#view_<%= script.id %>" role="tab">
        <%= script.title %>
      </a>
      <%- end -%>

    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="some id">

      <%- @scripts.each_with_index do |script, index| -%>
      <%- active_class = index.positive? ? '' : 'show active' -%>
      <div class="tab-pane fade <%= active_class %>" id="view_<%= script.id %>" role="tabpanel" >
        <%= render(partial: 'launcher_details', locals: { launcher: script }) %>
      </div>
      <%- end -%>

    </div>
  </div>
</div>

<%= link_to('New Launcher',
  new_project_launcher_path(@project.id),
  class: "btn btn-info #{disabled_class}",
  title: I18n.t('dashboard.jobs_project_create_new_project_directory'))
%>
