<%= bootstrap_form_tag  do |form| %>

<div class='page-header text-center'>
  <h1>Project Space</h1>
</div> 
<br>
<div class='row row-cols-1 row-cols-md-2'>
  <p>
    <%= link_to 'Back', projects_path, class: 'btn btn-default', title: 'Return to projects page' %>
  </p>
</div>

<div class='card'>
  <h3 class='card-header'>Scripts</h3>
  <div class='card-body'>
    <table class='table table-borderless'>
      <thead>
        <tr>
          <th>Script Name</th>
          <th>Actions</th>
        <tr>
      </thead>
      <tbody>
      <% @scripts.each do |script| %>
        <tr>
          <td><%= script.title %></td>
          <td>
            <%= link_to(
                  'Show',
                  project_script_path(@project.directory, script.id),
                  class: 'btn btn-success'
                )
            %>
          <td>
        <tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to('New Script', 
          new_project_script_path(@project.directory),
          class: 'btn btn-info',  
          title: I18n.t('dashboard.jobs_project_create_new_project_directory'))
    %>
  </div>
</div>

<% end %>
