<%= javascript_include_tag 'projects', nonce: true %>
<%-
  disabled = !@valid_project
  disabled_class = disabled ? 'disabled' : ''
-%>

<div class="d-none" id="project_config" data-project-id="<%= @project.id %>">
</div>

<div class='row'>
  <div class="col-2 align-self-center justify-content-center d-flex">
    <%= link_to 'Back', projects_path, class: 'btn btn-default align-self-start', title: 'Return to projects page' %>
  </div>


  <div class='page-header text-center col-8'>
    <h1 class="my-2 h3"><%= @project.title %></h1>

    <small class="text-muted">This is a preview of the new 'Project Manager'</small>
  </div>
</div>

<div class="my-2">
  <a id="new-dir-btn" class="btn btn-outline-dark" href="<%= files_path(fs: 'fs', filepath: @project.directory ) %>">
    <i class="fas fa-folder-open" aria-hidden="true"></i>
    <%= t('dashboard.project') %> <%= t('dashboard.directory') %>
    <%- if Configuration.project_size_enabled -%>
      <span data-bs-toggle="project" data-url="<%= project_path(@project.id) %>"></span>
    <%- end -%>
  </a>
</div>

<div class="row mb-3">
  <div class="col-md-2">
    <div class="list-group">
      <a class="list-group-item list-group-item-action bg-light font-weight-bold list-toggler"
          data-bs-toggle="collapse" data-bs-target="#launcher_list"
          aria-expanded="true" aria-controls="launcher_list">
        <span><%= t('dashboard.jobs_launchers') %></span>
      </a>

      <div id="launcher_list" class="collapse show">
        <%- @scripts.each do |launcher| -%>
        <div class="list-group-item list-group-item-action" id="launcher_<%= launcher.id %>">
          <div class="row py-2 justify-content-center">
            <%= launcher.title %>
          </div>
          <%= render(partial: 'launcher_buttons', locals: { launcher: launcher }) %>
        </div>
        <%- end -%>
      </div>

      <a class="list-group-item list-group-item-action text-info font-weight-bold"
        href="<%= new_project_launcher_path(@project.id) %>">
        <%= t('dashboard.jobs_new_launcher') %>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <%= render(partial: 'job_details', collection: @project.jobs, as: :job) %>
  </div>
  <div class="col-md-8">
    <%= render(partial: 'readme') %>
  </div>
</div>
