<% content_for :title, "#{t('dashboard.breadcrumbs_my_sessions')} - #{@user_configuration.dashboard_title}" %>
<%-
  any_apps = (@sys_app_groups + @usr_app_groups + @dev_app_groups).any?
-%>

<%= javascript_include_tag 'batch_connect_sessions', nonce: true %>

<%= render partial: 'batch_connect/shared/breadcrumb',
locals: {
  links: [
  {
    text: t('dashboard.breadcrumbs_home'),
    href: root_path
  },
  {
    text: t('dashboard.breadcrumbs_my_sessions')
  }]
}
%>

<div class="row">
  <%- if any_apps -%>
    <nav class="col-md-3" aria-label="Interactive Apps Menu">
      <%= render partial: 'batch_connect/shared/saved_settings_menu' %>
      <%=
        render(
          partial: "batch_connect/shared/app_menu",
          locals: {
            sys_app_groups: @sys_app_groups,
            usr_app_groups: @usr_app_groups,
            dev_app_groups: @dev_app_groups,
            apps_menu_group: @apps_menu_group
          }
        )
      %>
    </nav>
    <div class="col-md-9" role="region" aria-label="Active Sessions">
      <div id="batch_connect_sessions">
        <%= render(partial: 'panels') %>
      </div>
    </div>
  <%- else -%>
    <div class="col-md-12">
      <div class="ood-appkit markdown">
        <p><%= t('dashboard.batch_connect_no_apps') %></p>
      </div>
    </div>
  <%- end -%>
</div>
<div id="full-page-spinner" class="d-none">
  <div class="spinner-border" role="status"></div>
</div>
