<% content_for :title, "#{t('dashboard.breadcrumbs_my_sessions')} - #{OodAppkit.dashboard.title}" %>

<%-
  any_apps = (@sys_app_groups + @usr_app_groups + @dev_app_groups).any?
-%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('dashboard.breadcrumbs_home'), root_path %>
    </li>
    <li class="breadcrumb-item active">
      <%= t('dashboard.breadcrumbs_my_sessions') %>
    </li>
  </ol>
</nav>

<div class="row">
  <%- if any_apps -%>
    <div class="col-md-3">
      <%=
        render(
          partial: "batch_connect/shared/app_menu",
          locals: {
            sys_app_groups: @sys_app_groups,
            usr_app_groups: @usr_app_groups,
            dev_app_groups: @dev_app_groups
          }
        )
      %>
    </div>
    <div class="col-md-9">
      <div class="batch-connect sessions" data-toggle="poll" data-url="<%= batch_connect_sessions_path(format: :js) %>" data-delay="<%= ENV["POLL_DELAY"] || 10000 %>">
        <% if @sessions.empty? %>
          <div class="ood-appkit markdown">
            <p><%= t('dashboard.batch_connect_no_sessions') %></p>
          </div>
        <% else %>
          <%= render partial: "panel", collection: @sessions, as: :session %>
        <% end %>
      </div>
    </div>
  <%- else -%>
    <div class="col-md-12">
      <div class="ood-appkit markdown">
        <p><%= t('dashboard.batch_connect_no_apps') %></p>
      </div>
    </div>
  <%- end -%>
</div>
