<%= form_with(
    url: url_for(controller: 'file_manager', action: 'actions', path: absolute_requested_path),
    method: 'post'
    ) do |f|
%>
    <%= render 'file_manager/shared/breadcrumbs_and_search' %>
    <div class="row">
        <div class="col">
            <%# This should be a Vue %>
            <div class="table-view-actions button-bar pull-right">
                <button class="btn btn-success" type="submit" name="actions" value="open">Open</button>
                <button class="btn btn-info" type="submit" name="actions" value="download">Download</button>
                <a class="btn btn-primary <%= can_upload_to?(absolute_requested_path) ? '' : 'disabled' %>" href="<%= url_for controller: 'file_manager', action: 'upload', path: absolute_requested_path %>" >Upload</a>
                
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" target="_blank" class="">Copy</a></li>
                    <li><a href="#" target="_blank" class="">Add to Favorites</a></li>
                    <li><a href="#" target="_blank" class="">Download</a></li>
                    <li><a href="#" target="_blank" class="">Create New</a></li>
                    <li><a href="#" target="_blank" class="">Open in Terminal</a></li>
                    <li><a href="#" target="_blank" class="">Select All</a></li>
                    <li><a href="#" target="_blank" class="">Preview</a></li>
                    <li><a href="#" target="_blank" class="">Properties</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li><a href="#" target="_blank" class="">Delete</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="filemanager-list"></div>            
        </div>
    </div>
<% end %>
<script type="text/javascript">
    window.FILESYSTEM_ENTRIES = <%== fs_entrys_as_JSON(@fs_entries) %>;
</script>
<%= javascript_pack_tag 'filemanager_list' %>
