<%= form_with(
    url: url_for(controller: 'file_manager', action: 'actions', path: absolute_requested_path),
    method: 'post'
    ) do |f|
%>
    <%= render 'file_manager/shared/breadcrumbs_and_search' %>
    <div class="row">
        <div class="col">
            <div class="table-view-actions button-bar">
                <button class="btn btn-success" type="submit" name="actions" value="open">Open</button>
                <button class="btn btn-info" type="submit" name="actions" value="download">Download</button>
                <a class="btn btn-primary <%= can_upload_to?(absolute_requested_path) ? '' : 'disabled' %>" href="<%= url_for controller: 'file_manager', action: 'upload', path: absolute_requested_path %>" >Upload</a>
                
                <div class="d-inline dropdown m-1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                    Other Actions
                    </button>
                    <div class="dropdown-menu dropdown-xs-menu-bottom dropdown-menu-sm-left" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" type="submit" name="" value="copy">Copy</button>
                        <button class="dropdown-item" type="submit" name="actactionion" value="add-favorite">Add to Favorites</button>
                        <button class="dropdown-item" type="submit" name="actions" value="download">Download</button>
                        <button class="dropdown-item" type="submit" name="actions" value="create-new">Create New</button>
                        <button class="dropdown-item" type="submit" name="actions" value="open-in-terminal">Open in Terminal</button>
                        <button class="dropdown-item" type="submit" name="actions" value="select-all">Select All</button>
                        <button class="dropdown-item" type="submit" name="actions" value="preview">Preview</button>
                        <button class="dropdown-item" type="submit" name="actions" value="properties">Properties</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item " type="submit" name="actions">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="file-list table-responsive overflow-auto">
                <div class="file-list table-responsive overflow-auto">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Size</th>
                                <th class="d-none d-sm-table-cell">Modified</th>
                                <th class="d-none d-lg-table-cell">Owner</th>
                                <th class="d-none d-lg-table-cell">Group</th>
                                <th class="d-none d-xl-table-cell">Permissions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for entry in @fs_entries %>
                            <tr>
                                <td><i class="fas <%= entry_icon(entry) %> file-list-icon fa-lg">&nbsp;</i><input type="checkbox" name="selected-entries[]" value="<%= entry.path %>"></td>
                                <td><a href="<%= fs_link(entry.path) %>"><%= entry.basename %></a></td>
                                <td><%= entry.size %></td>
                                <td class="d-none d-sm-table-cell"><%= entry.modified %></td>
                                <td class="d-none d-lg-table-cell"><%= entry.owner %></td>
                                <td class="d-none d-lg-table-cell"><%= entry.group %></td>
                                <td class="d-none d-xl-table-cell"><%= entry.permissions %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% end %>