<div class="container">
  <div class="page-header">
    <h3>Showing Job</h3>
  </div>

  <p>
    <strong>Name:</strong>
    <%= @workflow.name %>
  </p>

  <p>
    <strong>Batch host:</strong>
    <%= @workflow.batch_host %>
  </p>

  <p>
    <strong>Staged Dir:</strong>
    <%= link_to(@workflow.staged_dir, Filesystem.new.fs(@workflow.staged_dir), target: "_blank") %>
  </p>

  <p>
    <strong>Directory Contents:</strong>
  <ul>
    <% @workflow.folder_contents.each do |content| %>
        <li><%= content.path %></li>
    <% end %>
  </ul>
  </p>

  <%= link_to 'Back', workflows_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_workflow_path(@workflow), class: 'btn btn-default' %>
</div>

