<div id="<%= transfer.id %>">
  <%= "#{transfer.action} #{transfer.percent}% complete" %>
  <div  class="progress">
    <div class="progress-bar <%= 'progress-bar-success' if transfer.status.completed? %>" role="progressbar" aria-valuenow="<%= transfer.percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= transfer.percent %>%;">
      <span class="sr-only"><%= transfer.percent %>% Complete</span>
    </div>
  </div>
</div>
