<% if Configuration.app_development_enabled? %>
  <li class="nav-item dropdown" role="none">
    <a role='menuitem' title="<%= t('dashboard.nav_develop_title') %>" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-code" aria-hidden="true"></i><span class="d-sm-none d-md-none d-lg-inline"> <%= t('dashboard.nav_develop_title') %></span><span class="caret"></span>
    </a>

    <ul class="dropdown-menu <%= local_assigns.fetch(:menu_alignment, 'dropdown-menu-end') %>" role="menu">
      <%= nav_link(t('dashboard.nav_restart_server'), "sync", restart_url) %>
      <%= nav_link(t('dashboard.nav_develop_docs'), "book", Configuration.developer_docs_url, new_tab: true) %>
      <%= nav_link(products_title(:dev), "cog", products_path(type: "dev")) %>
      <% if Configuration.app_sharing_enabled? %>
        <%= nav_link(products_title(:usr), "share-alt", products_path(type: "usr")) %>
      <% end %>
    </ul>
  </li>
<% end %>
