<% if @featured_group.present? %>
  <% group = @featured_group %>
  <li class="nav-item dropdown" role="none">
    <a role="menuitem" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menuitem" title="<%= group.title %>"><%= group.title %><span class="caret"></span></a>

    <ul class="dropdown-menu" role="menu" title="<%= group.title %>">
      <% OodAppGroup.groups_for(apps: group.apps, group_by: :subcategory, nav_limit: group.nav_limit).each_with_index do |g, index| %>
        <%= content_tag "li", "", class: "dropdown-divider", role: "separator" if index > 0 %>
        <%= content_tag "li", g.title_with_nav_limit_caption, class: "dropdown-header" unless g.title_with_nav_limit_caption.empty? %>
        <% g.apps.take(g.nav_limit).map { |app| app.links.first }.compact.each do |link| %>
            <li role="none">
              <%= render partial: "layouts/nav/dropdown_item", locals: {link: link} %>
            </li>
        <% end %>
      <% end %>

      <%= content_tag "li", "", class: "dropdown-divider", role: "separator" %>
      <li title="<%= t('dashboard.nav_all_apps') %>" role="none">
        <a href="<%= apps_index_path %>" class="dropdown-item" role="menuitem">
          <i class="fas fa-th" aria-hidden="true"></i> <%= t('dashboard.nav_all_apps') %>
        </a>
      </li>
    </ul>
  </li>
<% end %>
