<li class="dropdown" title="<%= group.title %>" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= group.title %><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% OodAppGroup.groups_for(apps: group.apps, group_by: :subcategory).each_with_index do |g, index| %>
      <%= content_tag "li", "", class: "divider", role: "separator" if index > 0 %>
      <%= content_tag "li", g.title, class: "dropdown-header" unless g.title.empty? %>
      <% g.apps.each do |app| %>
        <% app.links.each do |link| %>
          <li>
            <%=
              link_to(
                link.url.to_s,
                title: link.title,
                target: link.new_tab? ? "_blank" : nil
              ) do
            %>
             <span style="display: block;"> <%= icon_tag(link.icon_uri) %> <%=link.title %> </span>
              <%= content_tag(:small, link.subtitle) if link.subtitle.present? %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</li>