<style>
  .iconpicker .iconpicker-items {
    max-height: 98px;
  }
</style>
<script>
  $(document).ready(function() {

    function faClassToURI(classname) {
      var re = /^(fa[bsrl]?) fa-(.*)/;
      var result = re.exec(classname);
      if (result) {
        return result[1] + "://" + result[2];
      } else {
        return classname;
      }
    };

    var stdConfig = {placement: "inline", templates: {iconpickerItem: '<div role="button" class="iconpicker-item"><i></i></div>'}};
    var usesOld = $('#product-icon').hasClass("fa");
    var iconSetting = usesOld ? $.extend({icons: FA4iconinfo}, stdConfig) : $.extend({icons: FA5iconinfo, placement: "inline"}, stdConfig);
    $('#icp').iconpicker(iconSetting);
    $('#alias').prop('checked', usesOld);

    $('#icp').on('iconpickerSelected', function(event) {
      classname = event.iconpickerInstance.options.fullClassFormatter(event.iconpickerValue);
      $('#product-icon').get(0).className = 'app-icon fa-fw ' + classname;
      $('#uri-box').val(faClassToURI(classname));
    });

    $('#uri-box').on('change', function(event) {
      if ($('#uri-box').val() === "") {
        $('#product-icon').get(0).className = 'app-icon fa-fw fas fa-cog';
      }
    });

    $('#alias').on('change', function() {
      $('#icp').data('iconpicker').destroy();
      if ($('#alias').is(":checked")) {
        $('#icp').iconpicker($.extend({icons: FA4iconinfo, placement: "inline"}, stdConfig));
      } else {
        $('#icp').iconpicker($.extend({icons: FA5iconinfo, placement: "inline"}, stdConfig));
      }
    })
  });
</script>
<% if product.app.icon_path_png.file? %>
  <p class="text-center">
    <%= image_tag app_icon_path(product.app.name, product.app.type, product.app.owner), class: 'app-icon', title: product.app.icon_path_png %>
  </p>
  <div class="alert alert-info">
    <small>This app uses the icon.png shown. To use a FontAwesome icon, remove or rename the icon.png file in <a class="alert-link" href="<%= OodAppkit.files.url(path: product.app.path) %>" target="_blank">this</a> directory.</small>
  </div>
<% elsif product.app.icon_path_svg.file? %>
  <p class="text-center">
    <%= image_tag app_icon_path(product.app.name, product.app.type, product.app.owner), class: 'app-icon', title: product.app.icon_path_svg %>
  </p>
  <div class="alert alert-info">
    <small>This app uses the icon.png shown. To use a FontAwesome icon, remove or rename the icon.png file in <a class="alert-link" href="<%= OodAppkit.files.url(path: product.app.path) %>" target="_blank">this</a> directory.</small>
  </div>
<% else %>
  <% if product.app.manifest.icon =~ /^(fa[bsrl]?):\/\/(.*)/ %>
    <% icon = $2; style = $1 %>
    <p class="text-center">
      <%= fa_icon(icon, fa_style: style, id: "product-icon") %>
    </p>
  <% else %>
    <p class="text-center">
      <%= fa_icon("cog", fa_style: "fas", id: "product-icon") %>
    </p>
    <div class="alert alert-warning">
      <small>There is no icon specified for this app. Default is fas://cog.</small>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :icon, placeholder: "fas://cog", id: "uri-box" %>
    <p id="icp" class="text-center"><!-- inline icon picker placeholder --></p>
    <div class="checkbox">
      <label><input id="alias" type="checkbox" /> Use Font Awesome 4 icons</label>
    </div>
  </div>
  <div class="alert alert-info">
    <small>To use a custom icon, add an icon.png file in <a class="alert-link" href="<%= OodAppkit.files.url(path: product.app.path) %>" target="_blank">this</a> directory.</small>
  </div>
<% end %>
