<%= javascript_pack_tag 'fa/faIconPicker' %>

<style>
  .iconpicker .iconpicker-items {
    max-height: 98px;
  }
</style>

<% if product.app.image_icon? %>
  <p class="text-center">
    <%= image_tag product.app.icon_uri, class: 'app-icon', title: product.app.icon_path %>
  </p>
  <div class="alert alert-info">
    <small>This app uses the icon.png shown. To use a FontAwesome icon, remove or rename the icon.png file in <a class="alert-link" href="<%= OodAppkit.files.url(path: product.app.path) %>" target="_blank">this</a> directory.</small>
  </div>
<% else %>
  <% if product.app.manifest.icon =~ /^(fa[bsrl]?):\/\/(.*)/ %>
    <% icon = $2; style = $1 %>
    <p class="text-center">
      <%= fa_icon(icon, fa_style: style, id: "product-icon") %>
    </p>
  <% else %>
    <p class="text-center">
      <%= fa_icon("cog", fa_style: "fas", id: "product-icon") %>
    </p>
    <div class="alert alert-warning">
      <small>There is no icon specified for this app. Default is fas://cog.</small>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :icon, placeholder: "fas://cog", id: "uri-box" %>
    <p id="icp" class="text-center"><!-- inline icon picker placeholder --></p>
    <div class="checkbox">
      <label><input id="alias" type="checkbox" /> Use Font Awesome 4 icons</label>
    </div>
  </div>
  <div class="alert alert-info">
    <small>To use a custom icon, add an icon.png file in <a class="alert-link" href="<%= OodAppkit.files.url(path: product.app.path) %>" target="_blank">this</a> directory.</small>
  </div>
<% end %>
