<%= javascript_include_tag 'icon_picker', nonce: true %>

<% if product.app.image_icon? %>
  <p class="text-center">
    <%= image_tag product.app.icon_uri, class: 'app-icon', title: product.app.icon_path %>
  </p>
  <div class="alert alert-info">
    <small>This app uses the icon.png shown. To use a FontAwesome icon, remove or rename the icon.png file in <a class="alert-link" href="<%= OodAppkit.files.url(path: product.app.path) %>" target="_blank">this</a> directory.</small>
  </div>
<% else %>
  <% if product.app.manifest.icon =~ /^(fa[bsrl]?):\/\/(.*)/ %>
    <% icon = $2; style = $1 %>
    <p class="text-center">
      <%= fa_icon(icon, fa_style: style, id: "product_icon") %>
    </p>
  <% else %>
    <p class="text-center">
      <%= fa_icon("cog", fa_style: "fas", id: "product_icon") %>
    </p>
    <div class="alert alert-warning">
      <small>There is no icon specified for this app. Default is cog.</small>
    </div>
  <% end %>
  <div class="field" id="icon_select_list">
    <%= f.text_field :icon, placeholder: "cog", id: "product_icon_select",
        help: 'Use the list of icons below to choose from', value: product.app.manifest.icon.sub('fas://', '')  %>


    <div class="card">
      <div class="card-body">
        <ul id="icon_picker_list">
        </ul>
      </div>
    </div>

  </div>
  <div class="alert alert-info">
    <small>To use a custom icon, add an icon.png file in <a class="alert-link" href="<%= OodAppkit.files.url(path: product.app.path) %>" target="_blank">this</a> directory.</small>
  </div>
<% end %>
