<div class="field">
  <%= f.text_field :git_remote, help: "Example: <strong>git@github.com:Example/example.git</strong> (<a href='https://help.github.com/articles/generating-an-ssh-key/' rel='noopener' target='_blank'>requires SSH key installed</a>) or <strong>https://github.com/Example/example.git</strong>".html_safe %>
  <%= content_tag :pre, product.errors[:git_remote_error].first, class: "text-danger" if product.errors[:git_remote_error].any? %>
</div>
<div class="alert alert-<%= ssh_key ? "success" : "danger" %> clearfix alert-ssh-key">
  <% if ssh_key %>
    <a class="text-success" role="button" data-bs-toggle="collapse" href="#sshKeyValue" aria-expanded="false" aria-controls="collapseSshKeyValue">
      <i class="fas fa-check" aria-hidden="true"></i> Detected locally generated SSH key
    </a>
    <div class="collapse" id="sshKeyValue">
      <p>
      <pre><%= ssh_key %></pre>
      Copy and add the above SSH key into a Git service provider of your choosing (e.g., GitHub, Bitbucket, ...)
      </p>
    </div>
  <% else %>
    <div class="float-start">
      <i class="fas fa-times" aria-hidden="true"></i> No SSH key was found. You will need to generate a locally installed SSH key to clone the git repo using SSH.
    </div>
    <%= link_to 'Generate SSH Key', create_key_products_path(type: type), class: 'btn btn-default float-end' %>
  <% end %>
</div>
