<% modified_time = File.mtime(product.router.path) %>
<tr>
  <td>
    <%= app_icon_tag(product.app) %>
  </td>
  <td><%= product.name %></td>
  <td>
    <%= link_to product.title, product_path(product.name, type: @type) %>
    <% if product.git_repo? %>
      <span class="text-muted">[<%= product.version %>]</span>
    <% end %>
    <p>
      <%= manifest_markdown(product.description) %>
    </p>
    <% unless product.valid?(:list_apps) %>
      <% product.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
          <p><%= msg %></p>
        </div>
      <% end %>
    <% end %>
  </td>
  <td>
    <div class="d-grid gap-2">
      <div class="btn-group-vertical">
        <%- product.app.links_without_validation.each do |link| -%>
          <%=
            link_to(
              "Launch #{link.title}",
              link.url.to_s,
              class: "btn btn-primary",
              data: {
                toggle: "popover",
                content: manifest_markdown(link.description),
                html: true,
                trigger: "hover",
                title: link.title,
                container: "body",
              },
              target: link.new_tab? ? "_blank" : nil
            )
          %>
        <%- end -%>
      </div>
    </div>
  </td>
  <td data-order="<%= modified_time.to_i %>"><%= modified_time.strftime("%m/%d/%y") %></td>
  <td>
    <div class="d-grid gap-2">
      <%= link_to 'Details', product_path(product.name, type: @type), class: 'btn btn-info' %>
      <%= render(partial: 'shared/shell_button', locals: { host: ENV['OOD_DEV_SSH_HOST'], path: product.router.path.realdirpath }) %>
      <% if Configuration.can_access_files? %>
        <%= link_to 'Files', OodAppkit.files.url(path: product.router.path.realdirpath).to_s, target: '_blank', class: 'btn btn-default' %>
      <% end %>
    </div>
  </td>
  <td>
  </td>
</tr>
