<%= render layout: 'products/breadcrumbs' do %>
  <li class="breadcrumb-item"><%= link_to @product.title, product_path(@product.name, type: @type) %></li>
  <li class="breadcrumb-item active">Edit</li>
<% end %>

<div class="page-header">
  <h2>
    <%= @product.name %>
  </h2>
</div>

<%= bootstrap_form_for(@product, as: :product, url: product_path(@product.name, type: @type)) do |f| %>
  <%= render "form_git", f: f, type: @type, product: @product if @product.git_repo? %>
  <%= render "form_manifest", f: f, product: @product %>
  <div class="row actions">
    <div class="col-md-12">
      <%= f.submit 'Save', class: 'btn btn-primary float-end' %>
    </div>
  </div>
<% end %>

<hr />

<%= link_to 'Back', product_path(@product.name, type: @type), class: 'btn btn-default' %>
