<%= javascript_include_tag 'products_index', nonce: true %>

<% product_class = Product.product_types[@type] %>

<%= render 'breadcrumbs' %>

<p>
  <%= link_to 'New App', new_product_path(type: @type), class: 'btn btn-default' %>
  <span class="float-end">
    <%= render(partial: 'shared/shell_button', locals: { label: 'Launch Shell', path: product_class.router.base_path.realdirpath }) %>
    <% if Configuration.can_access_files? %>
      <%= link_to 'Launch Files', OodAppkit.files.url(path: product_class.router.base_path.realdirpath).to_s, target: '_blank', class: 'btn btn-default' %>
    <% end %>
  </span>
</p>

<hr />

<table id="productTable" class="table table-striped" data-state-save="true" data-page-length="50" data-order="<%= %([4, "desc"]) %>">
  <thead>
    <tr>
      <th data-orderable="false" data-searchable="false"></th>
      <th>Directory Name</th>
      <th>App Details</th>
      <th data-orderable="false" data-searchable="false"></th>
      <th>Last Modified</th>
      <th data-orderable="false" data-searchable="false"></th>
      <th data-orderable="false" data-searchable="false"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "product", collection: @products %>
  </tbody>
</table>
