<div class='card'>
  <div class='card-group'>
    <div class='card'>
      <div class='card-body'>
        <div class="col">
          <div class="field">
            <%= form.text_field :name, placeholder: I18n.t('dashboard.jobs_workflow_name_placeholder'),
                    help: I18n.t('dashboard.jobs_workflow_name_validation') %>
          </div>

          <div class="field">
            <%= form.text_area :description, placeholder: I18n.t('dashboard.jobs_workflow_description_placeholder') %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class='card-body'>
        <% launcher_error = @workflow.errors.select{|e| e.attribute.to_s == 'launcher_ids' }.first %>
        <div class="field">
          <strong>Pick Launchers</strong><br>
          <div class="p-3 <%= launcher_error.nil? ? '' : 'border border-danger rounded is-invalid'%>">
          <div class="form-check">
            <%= check_box_tag "select_all_launchers", "", false,
                  id: "select_all_launchers", class: "form-check-input" %>
            <%= label_tag "select_all_launchers", "Select All", class: "form-check-label" %>
          </div>

          <% @launchers.each do |launcher| %>
            <div class="form-check">
              <%= check_box_tag "workflow[launcher_ids][]", launcher.id,
                                @workflow.launcher_ids.include?(launcher.id),
                                id: "launcher_#{launcher.id}", class: "form-check-input launcher-checkbox" %>
              <%= label_tag "launcher_#{launcher.id}", launcher.title, class: "form-check-label" %>
            </div>
          <% end %>
          </div>
          <% unless launcher_error.nil? %>
            <div class="invalid-feedback">
              <%= I18n.t('dashboard.jobs_workflow_missing_launchers', count: launcher_error.options.count) %>
            </div>
          <% end %>

          <div class="field mt-3">
            <strong>Synchronization</strong><br>
            <div class="row align-items-center mt-2">
              <div class="col">
                <div class="form-check form-switch">
                  <%= hidden_field_tag "workflow[sync_key_enabled]", "0" %>
                  <%= check_box_tag "workflow[sync_key_enabled]", "1",
                                    @workflow.sync_key_enabled == "1",
                                    id: "workflow_sync_key_enabled",
                                    class: "form-check-input" %>
                  <%= label_tag "workflow_sync_key_enabled",
                                "Enable OOD_WORKFLOW_SYNC_KEY #{form_label_tooltip(I18n.t('dashboard.jobs_workflow_sync_key_help'))}".html_safe,
                                class: "form-check-label" %>
                </div>
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-secondary btn-sm"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#workflow_advanced_collapse"
                        aria-expanded="false"
                        aria-controls="workflow_advanced_collapse"
                        id="workflow_advanced_toggle">
                  <%= I18n.t('dashboard.jobs_workflow_advanced_button') %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @workflow_overrides %>
  <div class="collapse" id="workflow_advanced_collapse">
    <%= render partial: 'advanced' %>
  </div>
<% end %>

<br>
<p>
  <%= form.submit I18n.t('dashboard.save'), class: 'btn btn-primary', title: 'Save project' %>
  <%= form.button I18n.t('dashboard.reset'), type: :reset, class: 'btn btn-default', title: 'Clear form fields' %>
  <%= link_to I18n.t('dashboard.back'), project_path(params[:project_id]), class: 'btn btn-default', title: 'Return to projects page' %>
</p>