<div class='card'>
  <div class='card-group'>
    <div class='card'>
      <div class='card-body'>
        <div class="col">
          <div class="field">
            <%= form.text_field :name, placeholder: I18n.t('dashboard.jobs_workflow_name_placeholder'),
                    help: I18n.t('dashboard.jobs_workflow_name_validation') %>
          </div>

          <div class="field">
            <%= form.text_area :description, placeholder: I18n.t('dashboard.jobs_workflow_description_placeholder') %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class='card-body'>
        <div class="field mt-3">
          <strong>Pick from Existing Workflows</strong><br>
          
          <select id="existing_workflow_select" class="form-select">
            <option value="">-- Select a workflow --</option>
            <% @workflows.each do |wf| %>
              <option value="<%= wf.name %>" data-description="<%= wf.description %>">
                <%= wf.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<p>
  <%= form.submit I18n.t('dashboard.save'), class: 'btn btn-primary', title: 'Save project' %>
  <%= form.button I18n.t('dashboard.reset'), type: :reset, class: 'btn btn-default', title: 'Clear form fields' %>
  <%= link_to I18n.t('dashboard.back'), project_path(params[:project_id]), class: 'btn btn-default', title: 'Return to projects page' %>
</p>