<turbo-stream action="replace" target="system-status">
  <template>
    <% Configuration.job_clusters.each_with_index do |c, cindex| %>
      <% job_adapter = c.job_adapter %>
      <div class="col">
        <div class="border rounded text-center p-2 m-2">
          
          <div id="cluster-title-<%= cindex %>" class="h4" tabindex="0"><strong><%= title(c) %></strong></div>

          <% components_status(job_adapter).each_with_index do |current_status, subindex| %>
            <div class="container py-2">
              <span id="component-title-<%= cindex %>-<%= subindex %>" tabindex="0"><%= current_status[:message] %></span>

              <% if valid_percent?(current_status[:percent]) %>
                <div class="progress">
                  <div class="progress-bar w-<%= current_status[:percent].to_i %>" role="progressbar"></div>
                </div>
                <span id="component-value-<%= cindex %>-<%= subindex %>" class="text-muted" tabindex="0">
		  <%= current_status[:percent] %> in use
		</span>
              <% end %>
            </div>
          <% end %>

          <div class="col">
            <table id="jobs-table-<%= cindex %>" class="table mb-0" tabindex="0">
              <thead>
                <tr>
                  <th scope="col">Jobs Running</th>
                  <th scope="col">Jobs Queued</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="border-bottom-0"><%= active_jobs(job_adapter) %></td>
                  <td class="border-bottom-0"><%= queued_jobs(job_adapter) %></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    <% end %>
  </template>
</turbo-stream>