<turbo-stream action="replace" target="system-status">
  <template>
    <% Configuration.job_clusters.each do |c| %>
      <% job_adapter = c.job_adapter %>
      <div class="col-sm-6 col-xs-12">
        <div class="col border rounded text-center p-2 m-2">
          
          <div class="h4"><strong><%= title(c) %></strong></div>

          <% components_status(job_adapter).each do |current_status| %>
            <div class="container py-2">
              <span><%= current_status[:message] %></span>

              <% if valid_percent?(current_status[:percent]) %>
                <div class="progress">
                  <div class="progress-bar w-<%= current_status[:percent].to_i %>" role="progressbar"></div>
                </div>
                <span class="text-muted"><%= current_status[:percent] %> in use</span>
              <% end %>
            </div>
          <% end %>

          <div class="col">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Jobs Running</th>
                  <th scope="col">Jobs Queued</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="border-bottom-0"><%= active_jobs(job_adapter) %></td>
                  <td class="border-bottom-0"><%= queued_jobs(job_adapter) %></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    <% end %>
  </template>
</turbo-stream>