<turbo-stream action="replace" target="system-status">
  <template>
    <% Configuration.job_clusters.each do |c| %>
      <% job_adapter = c.job_adapter %>
      <% cluster_info = job_adapter.cluster_info %>
      <div class="col-sm-6 col-xs-12 p-2">
        <div class="col border rounded p-2 text-center">
          <div class="h4"><strong><%= title(c) %></strong></div>
          <div><%= node_status(cluster_info) %></div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= node_pct(cluster_info) %>"><%= node_pct(cluster_info) %></div>
          </div>
          <div><%= processor_status(cluster_info) %></div> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= processor_pct(cluster_info) %>"><%= processor_pct(cluster_info) %></div>
          </div>
          <div><%= gpu_status(cluster_info) %></div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= gpu_pct(cluster_info) %>"><%= gpu_pct(cluster_info) %></div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Jobs Running</th>
                <th scope="col">Jobs Queued</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= active_jobs(job_adapter) %></td>
                <td><%= queued_jobs(job_adapter) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </template>
</turbo-stream>