<div>
  <div class="panel panel-default container-fluid">
    <div class="panel-heading row clearfix">
      <strong>
        <div class="col-xs-1">
          <div style="white-space: nowrap;">
            <%= status_label(data.status) %>
          </div>
        </div>
        <div class="col-xs-11" style="word-wrap: break-word;"><%= data.jobname %>
          <div><%= data.pbsid %></div>
        </div>
      </strong>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Job Information</div>
          <div class="panel-body"><div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
            <strong class="col-sm-5">Username: </strong>
            <span class="job_label_data col-sm-7"><%= data.username %></span></div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Account Name: </strong>
              <span class="job_label_data col-sm-7"><%= data.account %></span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Walltime: </strong>
              <span class="job_label_data col-sm-7"><%= data.walltime_used %> / <%= data.walltime %></span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Queue: </strong><span class="job_label_data col-sm-7"><%= data.queue %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Resources Requested</div>
          <div class="panel-body">
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Nodes: </strong>
              <span class="job_label_data col-sm-7"><%= data.nodect %></span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">PPN: </strong>
              <span class="job_label_data col-sm-7"><%= data.ppn %></span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Total CPU: </strong>
              <span class="job_label_data col-sm-7"><%= data.total_cpu %></span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Walltime: </strong>
              <span class="job_label_data col-sm-7"><%= data.walltime %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Resources Used</div>
          <div class="panel-body">
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">CPU Time: </strong>
              <span class="job_label_data col-sm-7"><%= data.cput %></span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Memory: </strong>
              <span class="job_label_data col-sm-7"><%= data.mem %></span>
            </div><div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
            <strong class="col-sm-5">VMem: </strong>
            <span class="job_label_data col-sm-7"><%= data.vmem %></span>
          </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Run Time: </strong>
              <span class="job_label_data col-sm-7"><%= data.cput %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <span class="col-md-2">Submit Args: </span>
        <pre class="col-md-10" style="white-space: pre-wrap;"><%= data.submit_args %></pre>
      </div>
      <div class="col-md-12">
        <span class="col-md-2">Output Location: </span>
        <pre class="col-md-10" style="white-space: pre-wrap;"><%= data.output_path %></pre>
      </div>
      <div class="col-md-12">
        <% if ENV["USER"] == data.username %>
            <%= link_to "#{icon("folder-open")} Open in File Manager".html_safe, data.fs_path, :class => "btn btn-default", :target => "_blank", :style => "margin: 10px;" %>
            <%= link_to "#{icon("terminal")} Open in Terminal".html_safe, data.terminal_path, :class => "btn btn-default", :target => "_blank", :style => "margin: 10px;" %>
            <%= link_to "#{icon("trash-o")} Delete".html_safe, delete_job_path(pbsid: data.pbsid, cluster: data.cluster), :class => "btn btn-danger pull-right", :style => "margin: 10px;", data: { method: "delete", confirm: "Are you sure you want to delete #{data.pbsid}" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
