<div class="btn-group pull-right" data-toggle="buttons">
    <% Filter.list.each do |filter| %>
        <label class="btn btn-primary <%= 'active' if cookies[:jobfilter] == filter.cookie_id %>" onclick="docCookies.setItem('jobfilter', '<%= filter.cookie_id %>'); window.location.reload();" >
          <input type="radio" name="<%= filter.cookie_id %>" id="option_user" > <%= filter.title %>
        </label>
    <% end %>
</div>

<h2>Active Jobs</h2>
    <div class="col-md-12">
        <table id="job_status_table" class="table datatable display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Account</th>
                    <th>Status</th>
                    <th>Cluster</th>
                </tr>
            </thead>
        </table>
    </div>
<br>

<script>
    function build_ganglia_link( host, start_seconds, report_type, node_num, size ) {
        var ganglia_uri;
        <% OODClusters.each do |c| %>
        if (host == '<%= c.id.to_s %>') {
            <% if c.custom_allow?(:ganglia) %>
              <% ganglia_cluster = OodCluster::Servers::Ganglia.new(c.custom_config(:ganglia)) %>
              var ganglia_base = '<%= ganglia_cluster.uri.to_s %>';
              ganglia_uri = ganglia_base+'&z='+size+'&cs='+start_seconds+'&g='+report_type+'&h=<%= (ganglia_cluster.opt_query.fetch(:h, '') % {h: '\'+node_num+\''}).html_safe %>';
            <% else %>
              ganglia_uri = '<%= image_path('unavailable.png') %>';
            <% end %>
        }
        <% end %>
        return ganglia_uri;
    }

    function has_ganglia(host) {
        <% OODClusters.each do |c| %>
        if (host == '<%= c.id.to_s %>') {
            <% if c.custom_allow?(:ganglia) %>
                return true;
            <% end %>
        }
        <% end %>
        return false;
    }
</script>
