<div class="btn-group pull-right" data-toggle="buttons">
    <% Filter.list.each do |filter| %>
        <label id="<%= filter.cookie_id %>" class="btn btn-primary" onclick="localStorage.setItem('jobfilter', '<%= filter.cookie_id %>'); window.location.reload();" >
          <input type="radio" name="<%= filter.cookie_id %>" id="option_user" > <%= filter.title %>
        </label>
    <% end %>
</div>

<h2>Active Jobs</h2>
    <div class="col-md-12">
        <table id="job_status_table" class="table datatable display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Account</th>
                    <th>Status</th>
                    <th>Cluster</th>
                </tr>
            </thead>
        </table>
    </div>
<br>

<script>
    var filter_id = localStorage.getItem("jobfilter") || "<%= Filter.default_id %>";

    function build_ganglia_link( host, start_seconds, report_type, node_num, size ) {
        var ganglia_uri;
        <% OODClusters.each do |key, value| %>
            if (host == '<%= key %>') {
                <% if value.ganglia_server? %>
                    ganglia_uri = '<%= value.ganglia_server.uri.to_s %>&z='+size+'&cs='+start_seconds+'&g='+report_type+'&h='+node_num+'<%= value.ganglia_server.opt_query.fetch(:h, '') % {h: nil} %>';
                <% else %>
                    ganglia_uri = '<%= image_path('unavailable.png') %>';
                <% end %>
            }
        <% end %>
        return ganglia_uri;
    }

    function has_ganglia(host) {
        <% OODClusters.each do |key, value| %>
        if (host == '<%= key %>') {
            <% if value.ganglia_server? %>
                return true;
            <% end %>
        }
        <% end %>
        return false;
    }
</script>
