
<div class="row pull-right">
  <div class="div-inline dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown-menu-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span id="selected-filter-label"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-menu-filter">
      <% Filter.list.each do |filter| %>
          <li class="filter-dropdown-option" id="filter-id-<%= filter.filter_id %>" onclick="set_filter_id('<%= filter.filter_id %>');" data-title="<%= filter.title %>"><a href="#"><%= filter.title %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="div-inline dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown-menu-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span id="selected-cluster-label"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-menu-filter">
      <% OODClusters.each do |cluster| %>
          <li class="cluster-dropdown-option" id="cluster-id-<%= cluster.id %>" onclick="set_cluster_id('<%= cluster.id %>');" ><a href="#"><%= cluster.metadata.title || cluster.id.titleize %></a></li>
      <% end %>
      <li class="cluster-dropdown-option" id="cluster-id-all" onclick="set_cluster_id('all');"><a href="#">All Clusters</a></li>
    </ul>
  </div>
</div>


<h2>Active Jobs</h2>
    <div class="col-md-12">
        <table id="job_status_table" class="table datatable display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Account</th>
                    <th>Time Used</th>
                    <th>Queue</th>
                    <th>Status</th>
                    <th>Cluster</th>
                </tr>
            </thead>
        </table>
    </div>
<br>

<script>
    var filter_id = <%= (@jobfilter ? "'#{@jobfilter}'" : "localStorage.getItem('jobfilter') || '#{Filter.default_id}'").html_safe %>;
    var cluster_id = <%= (@jobcluster ? "'#{@jobcluster}'" : "localStorage.getItem('jobcluster') || 'all'").html_safe %>;

    function build_ganglia_link( host, start_seconds, report_type, node_num, size ) {
        var ganglia_uri;
        <% OODClusters.each do |c| %>
        if (host == '<%= c.id.to_s %>') {
            <% if c.custom_allow?(:ganglia) %>
              <% ganglia_cluster = OodCluster::Servers::Ganglia.new(c.custom_config(:ganglia)) %>
              var ganglia_base = '<%= ganglia_cluster.uri.to_s %>';
              ganglia_uri = ganglia_base+'&z='+size+'&cs='+start_seconds+'&g='+report_type+'&h=<%= (ganglia_cluster.opt_query.fetch(:h, '') % {h: '\'+node_num+\''}).html_safe %>';
            <% else %>
              ganglia_uri = '<%= image_path('unavailable.png') %>';
            <% end %>
        }
        <% end %>
        return ganglia_uri;
    }

    function has_ganglia(host) {
        <% OODClusters.each do |c| %>
        if (host == '<%= c.id.to_s %>') {
            <% if c.custom_allow?(:ganglia) %>
                return true;
            <% end %>
        }
        <% end %>
        return false;
    }
</script>
