<div>Debug: <%= @activejobs.first.to_s %></div>

<h2>Active Jobs</h2>

<div class="col-md-8">
    <table class="table datatable display">
        <thead>
            <tr>
                <th><span class="headline">ID</span></th>
                <th><span class="headline">Name</span></th>
                <th><span class="headline">Owner</span></th>
                <th><span class="headline">Status</span></th>
                <th><span class="headline">Cluster</span></th>
            </tr>
        </thead>
        <tbody>
            <% @activejobs.each do |activejob| %>
                <tr>
                    <th class="small"><%= activejob[:name] %></th>
                    <th class="small"><%= activejob[:attribs][:Job_Name] %></th>
                    <th class="small"><%= activejob[:attribs][:Job_Owner] %></th>
                    <th class="small"><%= activejob[:attribs][:job_state] %></th>
                    <th class="small"><%= activejob[:attribs][:submit_host] %></th>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<br>