<h2>Active Jobs</h2>

<div class="row">
    <div class="col-md-8">
        <table class="table datatable display table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Status</th>
                <th>Cluster</th>
            </tr>
            </thead>
            <tbody>
            <% @activejobs.each do |activejob| %>
                <tr>
                    <td class="small"><%= activejob[:name] %></td>
                    <td class="small" style="word-break:break-all;" ><%= activejob[:attribs][:Job_Name] %></td>
                    <td class="small"><%= activejob[:attribs][:Job_Owner] %></td>
                    <td class="small"><%= activejob[:attribs][:job_state] %></td>
                    <td class="small"><%= activejob[:attribs][:submit_host] %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    Spacer
</div>
<br>