<%= bootstrap_form_tag  do |form| %>

<div class='card'>
    <h5 class='card-header'>Project Details</h5>
    <div class='card-body'>
        <div class='col-md-5'>
          <%= form.text_field :directory, label: 'Directory'%>
        </div>
        <div class='col-md-5'>
          <%= form.text_field :name, label: 'Directory/Project Name', class: 'form-control', required: true %>
        </div>
        <div class='col-md-5'>
          <%= form.text_field :account, label: 'Account', class: 'form-control', required: true %>
        </div>
        <div class='col-md-3'>
          <%= form.select :cluster, ['Owens', 'Pitzer'], class: 'form-control', required: true %>
        </div>
        <div class='col-md-12'>
          <%= form.text_area :description, label: 'Description', class: 'form-control' %>
        </div>
    </div>
</div>
<br>
  <p>
    <%= form.submit 'Save', class: 'btn btn-primary', title: 'Save project' %>
    <%= form.button 'Reset', type: :reset, class: 'btn btn-default', title: 'Clear form fields' %>
    <%= link_to 'Back', jobs_projects_path, class: 'btn btn-default', title: 'Return to projects page' %>
  <p>

<% end %>