<% has_error = !form.object.errors[attrib.id].empty? %>
<div class="form-group">
  <label class="form-label" for="<%= "#{form.object.class.name.underscore}_#{attrib.id}" %>"><%= attrib.label %></label>
  <p class="<%= has_error ? 'is-invalid' : '' %>" data-bs-toggle="attachments-error" id="<%= "#{form.object.class.name.underscore}_#{attrib.id}" %>">Click the box to attach a file. Screenshots or other files can help troubleshoot your problem.</p>
  <% if has_error %>
    <div class="invalid-feedback">
      <p><%= form.object.errors[attrib.id].join(", ") %></p>
    </div>
  <% end %>
  <div id="attachments-container"></div>

  <p class="attachments-add" data-bs-toggle="attachments-add"><i class="far fa-plus-square" title="Add attachment"></i> <span>Add attachment</span></p>
</div>
