<%= render "prefill_templates" %>

<%= bootstrap_form_for(@session_context) do |f| %>
  <% f.object.each do |attrib| %>
    <%= create_widget(f, attrib, format: @render_format) %>
  <% end %>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="batch_connect_session_save_template">
      <label class="form-check-label" for="batch_connect_session_save_template"><%= t('dashboard.batch_connect_form_save') %></label>
    </div>
  </div>
  <%= f.submit t('dashboard.batch_connect_form_launch'), class: "btn btn-primary btn-block" %>
<% end %>

<%= javascript_include_tag 'batch_connect', nonce: true if Configuration.bc_dynamic_js? %>

<% @app.custom_javascript_files.each do |jsfile| %>
  <%= javascript_tag "(function(){\n" + jsfile.read + "\n}());" %>
<% end %>
