<%- unless @prefill_templates.empty? -%>
  <div class="form-group">
    <label class="control-label"><%= t('dashboard.batch_connect_form_prefill') %></label>
    <select class="form-control selectpicker" id="batch_connect_session_prefill_template">
      <option selected value> -- <%= t('dashboard.batch_connect_form_select_template') %> -- </option>
      <% @prefill_templates.each do |template| %>
        <%- data = template.reject { |key, _value| key == BatchConnectConcern::BC_TEMPLATE_NAME_KEY }.to_json -%>
        <option value="<%= data %>"><%= template[BatchConnectConcern::BC_TEMPLATE_NAME_KEY] %></option>
      <% end %>
    </select>
  </div>
<%- end -%>

<div class="modal fade" id="formPrefillError" tabindex="-1" role="dialog" aria-labelledby="formPrefillErrorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formPrefillErrorLabel"><%= t('dashboard.batch_connect_form_prefill_error') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="formPrefillErrorBody"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="chooseTemplateName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chooseTemplateNameLabel"><%= t('dashboard.batch_connect_form_choose_template_name') %></h5>
      </div>
      <div class="modal-body">
        <select class="form-control selectpicker" id="modal_input_template_name">
          <option selected value> -- <%= t('dashboard.batch_connect_form_save_new_template') %> -- </option>
          <% @prefill_templates.each do |template| %>
          <%- name = template[BatchConnectConcern::BC_TEMPLATE_NAME_KEY] -%>
            <option value="<%= name %>"><%= name %></option>
          <% end %>
        </select>
        <input type="text" class="form-control" id="modal_input_template_new_name" placeholder="<%= t('dashboard.batch_connect_form_type_new_name') %>">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="chooseTemplateNameConfirm"><%= t('dashboard.save') %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chooseTemplateNameError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chooseTemplateNameErrorLabel"><%= t('dashboard.batch_connect_form_type_new_name_error') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
