<div class="row">
  <div class="col-md-9">
    <%= render partial: 'shared/welcome' %>

    <% if @nav_groups.any? %>
    <p class="lead"><%= t('dashboard.sharing_welcome_msg_html') %></p>
    <% end %>
    <%= render partial: "catalog_link" %>

    <%= render(partial: "group", collection: @groups) || t('dashboard.sharing_no_shared_apps_html') %>
  </div>
  <div class="col-md-3">
    <%# This assumes @motd_file responds to `to_partial_path` %>
    <%= render @motd if @motd %>
  </div>
</div>
