<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('dashboard.breadcrumbs_home'), root_path %>
    </li>
    <li class="breadcrumb-item active">
      <%= t('dashboard.breadcrumbs_all_apps') %>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('dashboard.apps_system_apps_title') %></div>
      <div class="panel-body">
        <%= render partial: "app_list", collection: @core_app_groups %>
      </div>
    </div>
  </div>

  <%= render partial: "app_list", collection: @app_groups, layout: "col3_layout" %>
</div>
