<ol class="breadcrumb">
  <li>
    <%= link_to t('dashboard.breadcrumbs_home'), root_path %>
  </li>
  <li class="active">
    <%= t('dashboard.breadcrumbs_all_apps') %>
  </li>
</ol>

<table class="table apps-table" id="all-apps-table">
  <thead>
    <tr>
      <th scope="col"><%= t('dashboard.all_apps_table_app_column') %></th>
      <th scope="col"><%= t('dashboard.all_apps_table_install_column') %></th>
      <th scope="col"><%= t('dashboard.all_apps_table_category_column') %></th>
      <th scope="col"><%= t('dashboard.all_apps_table_sub_category_column') %></th>
    </tr>
  </thead>
  <tbody>
    <%- @sys_apps.each do |group| -%>
      <%= render partial: "app_group_rows", locals: { group: group, install_location: 'System App' } %>
    <% end %>

    <%- @usr_apps.each do |group| -%>
      <%= render partial: "app_group_rows", locals: { group: group, install_location: 'Shared App' } %>
    <% end %>

    <%- @dev_apps.each do |group| -%>
      <%= render partial: "app_group_rows", locals: { group: group, install_location: 'Developer App' } %>
    <% end %>
  </tbody>
</table>
