<% content_for :title, t('dashboard.bc_saved_settings.title') %>

<%- content_for :head do -%>
  <%= javascript_include_tag('batch_connect_settings', nonce: true) %>
<%- end -%>

<%= render partial: 'batch_connect/shared/breadcrumb',
locals: {
  links: [
  {
    text: t('dashboard.breadcrumbs_home'),
    href: root_path
  },
  {
    text: "#{@settings.app.title}",
    href: new_batch_connect_session_context_path(token: @settings.token)
  },
  {
    text: @settings.name
  }]
}
%>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'batch_connect/shared/saved_settings_menu' %>
    <%=
      render(
        partial: "batch_connect/shared/app_menu",
        locals: {
          sys_app_groups: @sys_app_groups,
          usr_app_groups: @usr_app_groups,
          dev_app_groups: @dev_app_groups,
          apps_menu_group: @apps_menu_group
        }
      )
    %>
  </div>
  <div id="bc-saved-settings" class="col-md-9">
    <div id="settings-card" class="list-group card mb-4">
      <div class="card-heading">
        <div class="h5 card-header overflow-auto">
          <div class="float-end">
            <%= render partial: 'batch_connect/settings/action_buttons', locals:{ settings: @settings } %>
          </div>

          <span id="settings-name" class="d-block card-text"><%= @settings.name %></span>
        </div>
      </div>

      <p id="settings-app" class="list-group-item header"><%= @settings.app.title %></p>
      <div class="card-body">
        <div class="float-end">
          <%
            title = t('dashboard.bc_saved_settings.delete_title', settings_name: @settings.name)
          %>
          <%=
            button_to(
              batch_connect_setting_path(token: @settings.token, id: @settings.name),
              id: 'delete-saved-settings-button',
              method: :delete,
              class: %w[btn btn-danger full-page-spinner],
              title: title,
              'aria-label': title,
              data: { confirm: t('dashboard.bc_saved_settings.delete_confirm'), 'bs-toggle': "tooltip", 'bs-placement': "left"}
            ) do
              "#{fa_icon('times-circle', classes: nil)} <span aria-hidden='true'>#{t('dashboard.delete')}</span>".html_safe
            end
          %>
        </div>
        <% @settings.app.attributes.each do |attribute| %>
          <p>
            <strong><%= attribute.label %>:</strong>
            <%- if attribute.widget == 'password_field' -%>
            <span><%= @settings.values[attribute.id.to_sym].to_s.chars.map { |c| '*' }.join %></span>
            <%- else -%>
            <span><%= @settings.values[attribute.id.to_sym] %></span>
            <%- end -%>
          </p>
        <% end %>
      </div>
    </div>

  </div>
</div>
<%= render partial: 'batch_connect/shared/full_page_spinner' %>