<%# z-index:999 cause dropdowns are 1000 default sticky-top is 1020 https://getbootstrap.com/docs/4.6/layout/overview/#z-index %>
<% filesApp = false %>
<hr>

<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/files/favorites", locals: { filesApp: filesApp } %>
    <%= render partial: "shared/files/default_label_error_messages", locals: { filesApp: filesApp } %>
  </div>
  <%= render partial: "shared/files/files_table", locals: { filesApp: filesApp } %>
</div>
<%= render partial: "shared/files/buttons", locals: { filesApp: filesApp } %>
<%= render partial: "shared/files/common", locals: { filesApp: filesApp } %>
