<%# z-index:999 cause dropdowns are 1000 default sticky-top is 1020 https://getbootstrap.com/docs/4.6/layout/overview/#z-index %>
<div class="text-right sticky-top bg-white border-bottom p-2 m-3" style="z-index: 999">
  <!-- terminal button href is set via JavaScript because the URL is based on the current directory -->
  <% if Configuration.files_enable_shell_button %>
    <%= render partial: 'shared/files/shell_dropdown' %>
  <% end %>
</div>

<hr>

<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/files/favorites" %>
    <%= render partial: "shared/files/copy_move_popup" %>
    <%= render partial: "shared/files/file_action_menu" %>
    <%= render partial: "shared/files/default_label_error_messages" %>
  </div>
  <%= render partial: "shared/files/files_table" %>
</div>
<%= render partial: "shared/files/buttons" %>
<%= render partial: "shared/files/inline_js" %>
