<%-
  field_id = "#{form.object_name}_#{attrib.id}"

  fixed_id = "#{field_id}_fixed"
  fixed_name = "#{form.object_name}[#{attrib.id}_fixed]"
-%>
<div class="list-group col-md-4">
  <div class="list-group-item mb-3">
    <input type="checkbox" id="<%= fixed_id %>" name="<%= fixed_name %>" value="true" <%= fixed ? 'checked' : '' %> data-fixed-toggler="<%= field_id %>">
    <label class="form-check-label" for="<%= fixed_id %>"><%= t('dashboard.jobs_launchers_fixed_field') %></label>
  </div>
</div>
