<%-
  field_id = "#{form.object_name}_#{attrib.id}"
-%>

<div class="editable-form-field">
<% if field_id.match?('auto_environment_variable') %>
  <label>Name</label>
  <input class="form-control edit-field"
       type="text"
       data-auto-environment-variable="name"
       data-label-string=<%= attrib.original_label.gsub(' ', '&#32;').force_encoding('utf-8') %>
       value=<%= attrib.id.gsub(/auto_environment_variable_?/, '') %>
  >
<% end %>
  <%=  create_widget(form, attrib, format: format, hide_fixed: false) %>

  <div class="d-none edit-group mb-3">
    <%= render(partial: 'launchers/editable_form_fields/edit_fixed_field',  locals: { form: form, attrib: attrib, fixed: fixed }) %>
  </div>

  <%= render(partial: 'launchers/editable_form_fields/edit_field_buttons', locals: { field_id: field_id }) %>
</div>
