<%-
  field_id = "#{form.object_name}_#{attrib.id}"
  exclude_id = "#{field_id}_exclude"
  exclude_name = "#{form.object_name}[#{attrib.id}_exclude]"
  attrib.html_options['data-exclude-id'] = exclude_id
-%>

<div class="editable-form-field">
  <%=  create_widget(form, attrib, format: format, hide_excludable: false, hide_fixed: false) %>

  <div class="d-none edit-group">

    <%= render(partial: 'launchers/editable_form_fields/edit_fixed_field',  locals: { form: form, attrib: attrib, fixed: fixed }) %>

    <ol class="list-group text-center col-md-4 mb-3">
      <%- attrib.select_choices(hide_excludable: false).each do |select_data| %>
        <%- 
          choice = parse_select_data(select_data)
          disabled = attrib.exclude_select_choices.include?(choice)
          last_option = attrib.exclude_select_choices.length + 1 == attrib.select_choices(hide_excludable: false).length
          li_classes = disabled ? 'list-group-item list-group-item-danger text-strike' : 'list-group-item'
          add_id = "#{field_id}_add_#{choice}"
          remove_id = "#{field_id}_remove_#{choice}"
        -%>

        <li class="<%= li_classes %>">

          <span data-select-value class="text-break"><%= choice %></span><br/>

          <button class="btn btn-info float-start w-45" type="button" id="<%= add_id %>"
            data-select-toggler="add" data-select-id="<%= field_id %>"
            <%= disabled ? nil : 'disabled="true"' %> >
            <%= t('dashboard.add') %>
          </button>

          <button class="btn btn-warning float-end w-45" type="button" id="<%= remove_id %>"
            data-select-toggler="remove" data-select-id="<%= field_id %>"
            <%= disabled || last_option ? 'disabled="true"'.html_safe : nil %> >
            <%= t('dashboard.remove') %>
          </button>
        </li>
      <%- end -%>
    </ol>
    
  </div>

  <input type="hidden" id='<%= exclude_id %>' name='<%= exclude_name %>'
    value="<%= attrib.exclude_select_choices.join(',') %>">
  </input>

  <%= render(partial: 'launchers/editable_form_fields/edit_field_buttons',  locals: { field_id: field_id }) %>
</div>
