<button id='<%= "edit_#{field_id}" %>' class="btn btn-primary" type="button"><%= t('dashboard.edit') %></button>
<button id='<%= "save_#{field_id}" %>' class="btn btn-success ms-3 me-1 d-none" type="button"><%= t('dashboard.save') %></button>

<% if script_removable_field?(field_id) %>
  <button id='<%= "remove_#{field_id}" %>' class="btn btn-danger float-end" type="button"><%= t('dashboard.remove') %></button>
<% end %>
