<% content_for :title, @app.title %>

<ol class="breadcrumb">
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <li>
    <%= link_to "Interactive Sessions", batch_connect_sessions_path %>
  </li>
  <li class="active">
    <%= @app.title %>
  </li>
</ol>


<%- if @session && @session.errors.any? -%>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= session_save_errors @session.errors %>

    <p class="small">
      * The <%= @app.title %> session data for this session can be accessed
      under the
      <%=
        link_to(
          "staged root directory",
          OodAppkit.files.url(path: @session.staged_root).to_s,
          target: "_blank"
        )
      %>.
    </p>
  </div>
<%- end -%>

<div class="row">
  <div class="col-md-3">
    <%=
      render(
        partial: "batch_connect/shared/app_menu",
        locals: {
          sys_app_groups: @sys_app_groups,
          usr_app_groups: @usr_app_groups,
          dev_app_groups: @dev_app_groups,
          current_url: new_batch_connect_session_context_path(token: @app.token)
        }
      )
    %>
  </div>

  <div class="col-md-6">
    <h3><%= @app.title %></h3>
    <div class="ood-appkit markdown">
      <%= OodAppkit.markdown.render(@app.description).html_safe %>

      <%- if @session_context -%>
        <%= render "form" %>

        <p class="small">
          * All <%= @app.title %> session data is generated and stored under
          the user's home directory in the corresponding
          <%=
            link_to(
              "data root directory",
              OodAppkit.files.url(
                path: BatchConnect::Session.dataroot(@app.token)
              ).to_s,
              target: "_blank"
            )
          %>.
        </p>
      <%- end -%>
    </div>
  </div><!-- /.col-md-6 -->
</div><!-- /.row -->
