<ol class="breadcrumb">
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <li>
    <%= link_to "Interactive Sessions", batch_connect_sessions_path %>
  </li>
  <li class="active">
    <%= @app ? @app.title : "New Session" %>
  </li>
</ol>


<% if @app %>
  <% if @session && @session.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= session_save_errors @session.errors %>
    </div>
  <% end %>

  <div class="row">
    <%# More than one sub app so display tabs %>
    <% if @sub_apps.size > 1 %>
      <div class="col-md-3 col-md-push-6">
        <ul class="nav nav-pills nav-stacked well">
          <% @sub_apps.each do |sub_app| %>
            <li class="<%= "active" if @app == sub_app %> <%= "disabled" unless sub_app.valid? %>">
              <% if sub_app.valid? %>
                <%= link_to sub_app.title, new_batch_connect_session_context_path(token: sub_app.token) %>
              <% else %>
                <a data-toggle="tooltip" data-placement="bottom" title="<%= sub_app.validation_reason %>"><%= sub_app.title %></a>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.col-md-3 -->
    <% end %>

    <div class="col-md-6 <%= "col-md-pull-3" if @sub_apps.size > 1 %>">
      <div class="ood-appkit markdown">
        <%= OodAppkit.markdown.render(@app.description).html_safe %>

        <% if @session_context %>
          <%= render "form" %>
      <% end %>
      </div>
    </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
<% end %>
