<div class="page-header" xmlns="http://www.w3.org/1999/html">
</div>

<div class="col-md-7">
  <div class="panel">
    <h2>Listing OSC Jobs</h2>
    <a class="btn btn-default btn-sm" href="<%= new_osc_job_path %>" data-toggle="tooltip" title="Create a new job from a template" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New From Template</a>
  </div>
</div>

<div class="col-md-5">
  <!-- placeholder -->
</div>

<div class="col-md-7">
  <div id="jobListView" class="panel panel-default">
    <div class="panel-body">
      <div class="panel-body">
        <a class="btn btn-default btn-sm" id="copy_button" data-toggle="tooltip" title="Copy Job" role="button" data-method="get" disabled><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Copy</a>
        <a class="btn btn-default btn-sm" id="stop_button" data-toggle="tooltip" title="Stop Job" role="button" data-method="get" disabled><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</a>
        <a class="btn btn-default btn-sm" id="template_button" data-toggle="tooltip" title="Set as Template" data-method="get" role="button" disabled><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Set Template</a>
        <a class="btn btn-danger btn-sm" id="destroy_button" data-toggle="tooltip" title="Delete Job" data-method="get" data-confirm="Are you sure?" role="button" disabled><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
      </div>

      <div class="panel-body">
        <table id="jobListTable" class="table data-table">
          <thead>
          <tr>
            <th>Name</th>
            <th>PBS ID</th>
            <th>Cluster</th>
            <th>Status</th>
          </tr>
          </thead>

          <tbody>
          <% @osc_jobs.each do |osc_job| %>
              <tr class="job_row" id="<%=osc_job.id %>">
                <td><%= osc_job.name %></td>
                <td><%= osc_job.id %></td>
                <td><%= osc_job.batch_host %></td>
                <td><%= status_label(osc_job) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-md-5">
  <div class="panel panel-default" id="jobDetailsPanel" hidden>
    <div class="panel-body">
      <p>Name: <strong><span id="jobDetailsName"></span></strong></p>
      <p>Submit to:
        <select id="jobDetailsServerSelect">
          <% Servers.each do |s| %>
              <option id="<%= s.first %>" value="<%= s.first %>"><%= s.first.titleize %></option>
          <% end %>
        </select>
      </p>
      <a class="btn btn-default btn-sm" id="jobDetailsOpenDirButton" target="_blank" data-toggle="tooltip" title="Open Directory in File Manager" role="button"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Open Dir</a>
      <!-- <a class="btn btn-default btn-sm" id="jobDetailsViewFileButton" data-toggle="tooltip" title="View File" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> -->
      <!-- <a class="btn btn-default btn-sm" id="jobDetailsEditFileButton" data-toggle="tooltip" title="Edit File" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> -->
    </div>

    <div id="jobDetailsView" class="panel-body">
      <!-- TODO : Iterate over the directories and create <th> tags for each subdir. -->
      <p id="jobDetailsStagedDir"></p>
      <span id="jobDetailsStagedDirContents"></span>
    </div>
  </div>
</div>
