<div class="page-header">
  <h2>Listing Osc Jobs</h2>
</div>

<table class="table data-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Name</th>
      <th>Batch host</th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% @osc_jobs.each do |osc_job| %>
      <tr>
        <td><%= osc_job.id %></td>
        <td><%= status_label(osc_job) %></td>
        <td><%= osc_job.name %></td>
        <td><%= osc_job.batch_host %></td>
        <td><%= link_to 'Submit', submit_osc_job_path(osc_job), method: :put, class: 'btn btn-success btn-sm' unless osc_job.submitted? %></td>
        <td><%= link_to 'Show', osc_job, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_osc_job_path(osc_job), class: 'btn btn-default btn-sm' unless osc_job.submitted? %></td>
        <td><%= link_to 'Copy', copy_osc_job_path(osc_job), method: :put, class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Destroy', osc_job, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Osc Job', new_osc_job_path %>
