<div class="container">
  <div class="page-header">
    <h3>Create a New Job</h3>
  </div>

  <%# render 'form', osc_job: @osc_job %>

  <div class="row">

    <div class="col-md-7">
      <div id="job-list-view" class="panel panel-default">
        <div class="panel-body">

          <div class="panel-body">
            <table id="new-job-template-table" class="table data-table-new-job">
              <thead>
              <tr>
                <th>Name</th>
                <th>Cluster</th>
              </tr>
              </thead>

              <tbody>
              <% @templates.each do |template| %>
                  <tr class="job-row" data-path="<%= template.path %>" data-api="<%= Filesystem.new.api(template.path) %>" >
                    <td><%= template.name %></td>
                    <td><%= template.host.titleize %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default" id="job-details-panel">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Template Notes</label><input class="form-control" id="name_field" type="text" disabled></div>

          <%= bootstrap_form_for(@osc_job) do |f| %>
              <%= f.alert_message "Please fix the errors below." %>

              <%= f.text_field :name, required: true, id: 'name_field' %>

              <%= f.select :batch_host, Servers.map { |key, val| [ "#{key.titleize} (#{val[:pbshost]})", key ] }, { label: "Batch Server:" }, { class: "selectpicker", id: "batch_host_select", required: true } %>
              <%= f.text_field :script_path, required: true, id: "script_path_field" %>

              <%= f.submit 'Create New Job', class: 'btn btn-primary' %>
              <%= f.button 'Reset', type: :reset, class: 'btn btn-default' %>

              <%= link_to 'Back', osc_jobs_path, class: 'btn btn-default' %>

              <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Template'.html_safe, new_template_path, { class: 'btn btn-default pull-right', title: "Create a new template", 'data-toggle': 'tooltip', role: 'button' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

