<div class="page-header">
    <h3>Showing Osc Job</h3>
</div>

<p>
  <strong>Name:</strong>
  <%= @osc_job.name %>
</p>

<p>
  <strong>Batch host:</strong>
  <%= @osc_job.batch_host %>
</p>

<p>
  <strong>Staged Dir:</strong>
  <%= link_to(@osc_job.staged_dir, Filesystem.new.fs(@osc_job.staged_dir)) %>
</p>

<p>
  <strong>Directory Contents:</strong>
<ul>
  <% @folder_contents.each do |content| %>
    <li><%= content %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', osc_jobs_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_osc_job_path(@osc_job), class: 'btn btn-default' %>
