<div class="offcanvas offcanvas-end" tabindex="-1" id="settings_panel" aria-labelledby="settings_panel_label">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="settings_panel_label"><%= t('dashboard.customizations') %></h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= bootstrap_form_for(@user_customization, url: update_customization_path, html: { autocomplete: "off" }) do |f| %>
      <%= render(partial: 'settings/files_favorites') %>
      <%= f.hidden_field(:custom_files_favorites, value: JSON.generate(f.object.custom_files_favorites)) %>

      <%= f.submit t('dashboard.save_changes'), class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>