<!-- OSC_CUSTOM_CODE add bootstrap class to the file text template -->
<{{ tag }} {{ attribute }}class="bootstrap {{ className }}">
    <span data-name="js-type" class="mini-icon {{ type }}"></span>
    <span data-name="js-name" class="name reduce-text">{{ name }}</span>
    <span data-name="js-size" class="size reduce-text">{{ size }}</span>
    <span data-name="js-date" class="date reduce-text">{{ date }}</span>
    <span data-name="js-owner" class="owner reduce-text hidden">{{ owner }}</span>
    <span data-name="js-mode" class="mode reduce-text hidden">{{ mode }}</span>
</{{ tag }}>
