<div class="directory-explorer">
  <div class="home"><a href="{{ treeroot }}">
    <span class="mini-icon directory"></span> {{ treeroottitle }}</a>
  </div>
  <div id="directory-tree" class="bootstrap"></div>
</div>
<section data-name="js-{{ side }}" class="panel panel-{{ side }}">{{ content }}</section>
