<div class="page-header" >
  <h2>Jobs Runner</h2>
</div>

<div>
  <div class="btn-group open">
    <a  data-method="get" 
        data-toggle="tooltip" 
        title="Create a new Project" 
        href="<%= root_path %>"
    >
      
    <button type="button" id="new_job_button" class="btn btn-primary" > New Project </button></a>
  </div>
</div>
<br>
<br>
<h3>Projects</h3>

<div class="panel panel-default">
  <div class="panel-body" >
    <table  class="table data-table" >

    <thead>
      <tr>
        <th>Project Name</th>
        <th>Actions</th>
      <tr>
    </thead>

    <tbody>
        <tr>
          <td><%= link_to 'Dummy Project', class: 'btn btn-succes btnsm'  %>
          <td><%= link_to 'Work in', root_path, class: 'btn btn-success btn-sm' %>
          <td><%= link_to 'Edit', edit_jobs_runner_path(:id), class: 'btn btn-info btn-sm' %>
          <td><%= link_to 'Delete', jobs_runner_path(:id), :method => :delete,
            data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-sm' %>
        <tr>
    </tbody>

</table>
  </div>
</div>

