<!-- OSC_CUSTOM_CODE hide 'refresh' and 'clear clipboard' -->
<!-- original <div data-name="js-path" class="reduce-text" title="{{ fullPath }}"><span data-name="js-clear-storage" class="path-icon icon-clear" title="clear clipboard (Ctrl+D)"></span><a data-name="js-refresh" href="{{ link }}" class="path-icon icon-refresh" title="refresh (Ctrl+R)"> </a><span data-name="js-links" class=links>{{ path }}</span></div> -->
<div data-name="js-path" class="reduce-text" title="{{ fullPath }}"><span data-name="js-clear-storage"></span><a data-name="js-refresh" class="path-icon icon-refresh" title="refresh (Ctrl+R)" href="{{ link }}"></a><span data-name="js-links" class=links>{{ path }}</span></div>
<!-- <h6 class="help">Right click to open a context menu to take actions with the selected file or folder.</h6> -->
<div class="menu-buttons bootstrap">
    <button type="button" class="icon icon-view btn btn-default btn-sm" onclick="CloudCmd['View'].show()">View</button>
    <button type="button" class="icon icon-edit btn btn-default btn-sm hidden" id="editor-button" onclick="ood_editor()">Edit</button>
    <button type="button" class="icon icon-rename btn btn-default btn-sm" onclick="DOM.renameCurrent()">Rename/Move</button>
    <button type="button" class="icon icon-download btn btn-primary btn-sm" onclick="download()">Download</button>
    <button type="button" class="icon icon-copy btn btn-default btn-sm" data-toggle="tooltip"
      title="Copy selected files to the Files App's 'clipboard'"
      onclick="DOM.Buffer.copy()">Copy</button>
    <button type="button" class="bootstrap icon icon-paste btn btn-default btn-sm" data-toggle="tooltip"
      title="Copy the list of files in the Files App's clipboard into current directory"
      onclick="DOM.Buffer.paste()">Paste</button>
    <button type="button" class="icon icon-unselect-all btn btn-default btn-sm" onclick="DOM.toggleAllSelectedFiles()">(Un)Select All</button>
    <button type="button" class="icon icon-delete btn btn-danger btn-sm pull-right" onclick="CloudCmd.Operation.show('delete');">Delete</button>
</div>
