<%= bootstrap_form_for(@product, as: :product, url: form_url) do |f| %>
  <% if @product.new_record? %>
  <div class="field">
    <%= f.text_field :name, label: "Directory name" %>
  </div>
  <% end %>
  <% if show_git %>
  <div class="field">
    <%= f.text_field :git_remote, help: "Example: <strong>git@github.com:Example/example.git</strong> (<a href='https://help.github.com/articles/generating-an-ssh-key/' target='_blank'>requires SSH key installed</a>)".html_safe %>
  </div>
  <div class="alert alert-<%= ssh_key ? "success" : "danger" %>">
  <% if ssh_key %>
    <a class="text-success" role="button" data-toggle="collapse" href="#sshKeyValue" aria-expanded="false" aria-controls="collapseSshKeyValue">
      <i class="fa fa-check"></i> Detected locally generated SSH key
    </a>
    <div class="collapse" id="sshKeyValue">
      <p>
        <pre><%= ssh_key %></pre>
        Copy and add the above SSH key into a Git service provider of your choosing (e.g., GitHub, Bitbucket, ...)
      </p>
    </div>
  <% else %>
    <i class="fa fa-times"></i> No SSH key was found, you will need to generate a locally installed SSH key
  <% end %>
  </div>
  <% end %>
  <% if show_manifest %>
  <div class="field">
    <%= f.text_field :title, placeholder: "My OnDemand App" %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Description should go here.\n\nFormat using **markdown**.", help: "Format using <a href='https://guides.github.com/features/mastering-markdown/' target='_blank'>markdown</a>".html_safe, rows: 10 %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
