<tr>
  <td><%= product.name %></td>
  <td>
    <%= image_tag app_icon_path(product.app.name, product.app.type, product.app.owner), size: '100x100' %>
  </td>
  <td><%= link_to product.title, app_path(product.app.name, product.app.type, product.app.owner) %></td>
  <td><%= manifest_markdown(product.description) %></td>
  <td><%= link_to 'Show', product_path(product.name, type: @type) %></td>
  <td><%= link_to 'Edit', edit_product_path(product.name, type: @type) %></td>
  <td><%= link_to 'Destroy', product_path(product.name, type: @type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
