<% modified_time = File.mtime(product.router.path) %>
<tr>
  <td>
    <%= image_tag app_icon_path(product.app.name, product.app.type, product.app.owner), size: '100x100' %>
  </td>
  <td><%= product.name %></td>
  <td>
    <%= link_to product.title, app_path(product.app.name, product.app.type, product.app.owner) %>
    <p>
    <% if product.app.manifest.is_a?(MissingManifest) %>
      <div class="alert alert-danger">
        <p>
          You are missing a <code>manifest.yml</code>, please
          <strong>Edit</strong> this app and add a title and description to fix
          this.
        </p>
      </div>
    <% elsif product.app.manifest.is_a?(InvalidManifest) %>
      <div class="alert alert-danger">
        <p>
          Your <code>manifest.yml</code> is corrupt, please edit this file to
          fix this.
        </p>
      </div>
    <% else %>
      <%= manifest_markdown(product.description) %>
    <% end %>
    </p>
  </td>
  <td data-order="<%= modified_time.to_i %>"><%= modified_time.strftime("%m/%d/%y") %></td>
  <td>
    <%= link_to 'Shell', OodAppkit.shell.url(path: product.router.path).to_s, target: '_blank', class: 'btn btn-default btn-block' %>
    <%= link_to 'Files', OodAppkit.files.url(path: product.router.path).to_s, target: '_blank', class: 'btn btn-default btn-block' %>
  </td>
  <td>
    <%= link_to 'Details', product_path(product.name, type: @type), class: 'btn btn-default btn-block' %>
    <%= link_to 'Edit', edit_product_path(product.name, type: @type), class: 'btn btn-default btn-block' %>
  </td>
  <td><%= link_to 'Delete', product_path(product.name, type: @type), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %></td>
</tr>
