<%= render 'header' %>

<div class="page-header">
  <h2>
    <%= @product.name %>
  </h2>
</div>

<%= render 'form',
  form_url: product_path(@product.name, type: @type),
  show_git: true,
  show_manifest: true
%>

<hr />

<%= link_to 'Show', product_path(@product.name, type: @type), class: 'btn btn-default' %>
<%= link_to 'Back', products_path(type: @type), class: 'btn btn-default' %>
