<% product_class = Product.product_types[@type] %>

<h2 class="apps-section-header">
  <%= products_title(@type) %>
</h2>

<p>
  <%= link_to 'New Product', new_product_path(type: @type), class: 'btn btn-default' %>
  <span class="pull-right">
    <%= link_to 'Launch Shell', OodAppkit.shell.url(host: ENV['OOD_DEV_SSH_HOST'], path: product_class.router.base_path.realpath).to_s, target: '_blank', class: 'btn btn-default' %>
    <%= link_to 'Launch Files', OodAppkit.files.url(path: product_class.router.base_path.realpath).to_s, target: '_blank', class: 'btn btn-default' %>
    <% unless product_class.trash_contents.empty? %>
      <%= link_to "Open Trash <span class=\"badge\">#{product_class.trash_contents.size}</span>".html_safe,
          OodAppkit.files.url(path: product_class.trash_path.realpath).to_s,
          target: '_blank',
          class: 'btn btn-default'
      %>
    <% end %>
  </span>
</p>

<hr />

<table id="productTable" class="table table-striped" data-state-save="true" data-page-length="50" data-order="<%= %([3, "desc"]) %>">
  <thead>
    <tr>
      <th data-orderable="false" data-searchable="false"></th>
      <th>Directory Name</th>
      <th>App Details</th>
      <th>Last Modified</th>
      <th data-orderable="false" data-searchable="false"></th>
      <th data-orderable="false" data-searchable="false"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "product", collection: @products %>
  </tbody>
</table>
