<%= render 'header' %>

<%= bootstrap_form_for(@product, as: :product, url: create_from_git_remote_path(type: @type, new_method: @new_method)) do |f| %>
    <%= render partial: "form_directory", locals: { f: f } if @product.new_record? %>
    <%= render partial: "form_git", locals: { f: f, product: @product} if (@product.new_record? || @product.git_repo?) %>
    <div class="actions">
      <%= f.submit 'Submit' %>
    </div>
<% end %>

<hr />

<%= link_to 'Back', products_path(type: @type), class: 'btn btn-default' %>
