<%= render 'header' %>

<%= bootstrap_form_for(@product, as: :product, url: create_from_rails_template_path(type: @type)) do |f| %>
    <%= render "form_directory", f: f %>
    <%= render "form_manifest", f: f %>
    <div class="actions">
      <%= f.submit 'Submit' %>
    </div>
<% end %>

<hr />

<%= link_to 'Back', products_path(type: @type), class: 'btn btn-default' %>
