<%= render 'header' %>

<%= bootstrap_form_for(@product, as: :product, url: create_from_git_remote_path(type: @type, new_method: @new_method)) do |f| %>
    <%= render "form_directory", f: f if @product.new_record? %>
    <%= render "form_git", f: f, type: @type, product: @product if (@product.new_record? || @product.git_repo?) %>
    <div class="actions">
      <%= f.submit 'Submit' %>
    </div>
<% end %>

<hr />

<%= link_to 'Back', products_path(type: @type), class: 'btn btn-default' %>
