<%= render layout: 'products/breadcrumbs' do %>
  <li class="active"><%= @product.title %></li>
<% end %>

<div class="page-header">
  <h2>
    <%= @product.name %>
    <%= git_prompt(@product) if @product.git_repo? %>
  </h2>
</div>

<h3>Details</h3>

<div class="row ood-mb-2">
  <div class="col-md-2 col-sm-2 col-xs-12">
    <p>
      <%= app_icon_tag(@product.app) %>
    </p>
  </div><!-- /.col-md-2 -->
  <div class="col-md-6 col-sm-10 col-xs-12">
    <p>
      <%= link_to "Launch #{@product.app.title}", app_path(@product.app.name, @product.app.type, @product.app.owner), target: '_blank', class: 'btn btn-primary' %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @product.app.title %>
    </p>
    <p>
      <span data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Active Users" data-content="<%= @product.active_users.join("<br />") %>" data-html="true">
        <strong>Active users:</strong>
        <%= @product.active_users.size %>
      </span>
    </p>
    <p>
      <strong>Type:</strong>
      <%= app_type_title @product.app %>
    </p>
    <p>
      <strong>Directory:</strong>
      <%= @product.router.path.realpath %>
    </p>
    <% if @product.git_repo? %>
    <p>
      <strong>Git remote:</strong>
      <%= @product.git_remote %>
    </p>
    <% end %>
    <p>
      <strong>Description:</strong><br/>
      <%= manifest_markdown(@product.app.manifest.description) %>
    </p>
  </div><!-- /.col-md-6 -->
  <div class="col-md-2 col-xs-6">
    <%= link_to 'Edit Metadata', edit_product_path(@product.name, type: @type), class: 'btn btn-default btn-block' %>
    <%= command_btn(title: "Bundle Install", key: "bundle_install", display:"scl enable rh-ruby22 nodejs010 -- bundle install --path=vendor/bundle") if @product.can_run_bundle_install? %>
    <%= command_btn(title: "Precompile Assets", key: "precompile_assets", display: "RAILS_ENV=production scl enable rh-ruby22 nodejs010 -- <<< 'bin/rake assets:clobber && bin/rake assets:precompile && bin/rake tmp:clear'") if @type == :usr && @product.passenger_rails_app? %>
    <%= command_btn(title: "Restart App", key: "restart_app", display: "mkdir -p tmp && touch tmp/restart.txt") if @product.passenger_app? %>
    <%= command_btn(title: "Rebuild App", key: "rebuild_passenger_rails_app", display: "RAILS_ENV=production scl enable rh-ruby22 nodejs010 -- <<< 'bundle install --path=vendor/bundle && bin/rake assets:clobber && bin/rake assets:precompile && bin/rake tmp:clear && mkdir -p tmp && touch tmp/restart.txt && echo 'Done\\!''", help: "Performs Bundle Install, Precompile Assets, and Restart App", color: "primary") if @type == :usr && @product.passenger_rails_app? %>
  </div><!-- /.col-md-2 -->
  <div class="col-md-2 col-xs-6">
    <%= link_to 'Shell', OodAppkit.shell.url(host: ENV['OOD_DEV_SSH_HOST'], path: @product.router.path.realdirpath).to_s, target: '_blank', class: 'btn btn-default btn-block' %>
    <%= link_to 'Files', OodAppkit.files.url(path: @product.router.path.realdirpath).to_s, target: '_blank', class: 'btn btn-default btn-block' %>
  </div><!-- /.col-md-2 -->

</div><!-- /.row -->

<% unless @product.valid?(:show_app) %>
<div class="alert alert-danger">
  <p>Please fix the errors below:</p>
  <ul class="rails-bootstrap-forms-error-summary">
    <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg.html_safe %></li>
    <% end %>
  </ul>
</div>
<% end %>

<hr />

<% if @product.permissions? %>

<h3>Permissions</h3>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Users</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @product.users.each do |u| %>
        <tr>
          <td><%= u.name %> <%= "(Owner)" if u.owner %></td>
          <td><%= link_to 'Remove', product_permission_path(u.name, type: @type, product_name: @product.name, context: :user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' unless u.owner %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <%= link_to 'New User Permission', new_product_permission_path(type: @type, product_name: @product.name, context: :user), class: 'btn btn-default' %>
    </p>
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Groups</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @product.groups.each do |g| %>
        <tr>
          <td><%= g.name %> <%= "(Owner)" if g.owner %></td>
          <td><%= link_to 'Remove', product_permission_path(g.name, type: @type, product_name: @product.name, context: :group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' unless g.owner %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <%= link_to 'New Group Permission', new_product_permission_path(type: @type, product_name: @product.name, context: :group), class: 'btn btn-default' %>
    </p>
  </div><!-- /.col-sm-6 -->
</div><!-- /.row -->

<hr />
<% end %>

<%= link_to 'Back', products_path(type: @type), class: 'btn btn-default' %>
<%= link_to 'Delete App',
  product_path(@product.name, type: @type),
  method: :delete,
  data: {
    original_title: 'Are you ABSOLUTELY sure?',
    confirm: '<div class="alert alert-warning">Unexpected bad things will happen if you don\'t read this!</div><p>This will move the product to the trash. Any users currently running this app will experience breaking behavior. Any past or present users of this app will be unable to access their data for this app. Be sure you know what you are doing!</p>'.html_safe,
    verify: @product.name,
    verify_text: 'Please type in the directory name of the app to confirm.',
    commit: 'I understand the consequences, delete this app',
    commit_class: 'btn-danger btn-block',
    cancel_class: 'hide'
  },
  class: 'btn btn-danger pull-right'
%>

<div class="modal fade" id="productCliModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Command</h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <pre class="product-cli-body">
          Loading...
        </pre>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
