<div class="page-header">
  <h2>
    <%= @product.name %>
    <%= git_prompt @product.router.path %>
  </h2>
</div>

<h3>Details</h3>

<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-12">
    <p>
      <%= image_tag app_icon_path(@product.app.name, @product.app.type, @product.app.owner), size: '100x100', title: @product.app.icon_path %>
    </p>
  </div><!-- /.col-md-2 -->
  <div class="col-md-6 col-sm-10 col-xs-12">
    <p>
      <strong>Title:</strong>
      <%= link_to @product.app.title, app_path(@product.app.name, @product.app.type, @product.app.owner), target: '_blank'%>
    </p>
    <p>
      <span data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Active Users" data-content="<%= @product.active_users.join("<br />") %>" data-html="true">
        <strong>Active users:</strong>
        <%= @product.active_users.size %>
      </span>
    </p>
    <p>
      <strong>Directory:</strong>
      <%= @product.router.path.realpath %>
    </p>
    <p>
      <strong>Git remote:</strong>
      <%= @product.git_remote %>
    </p>
    <p>
      <strong>Description:</strong><br/>
      <%= manifest_markdown(@product.app.manifest.description) %>
    </p>
  </div><!-- /.col-md-6 -->
  <div class="col-md-2 col-xs-6">
    <%= link_to 'Shell', OodAppkit.shell.url(path: @product.router.path).to_s, target: '_blank', class: 'btn btn-default btn-block' %>
    <%= link_to 'Files', OodAppkit.files.url(path: @product.router.path).to_s, target: '_blank', class: 'btn btn-default btn-block' %>
  </div><!-- /.col-md-2 -->
  <div class="col-md-2 col-xs-6">
    <button class="btn btn-default btn-block" data-toggle="cli" data-target="<%= cli_product_path('bundle_install', name: @product.name, type: @type) %>" data-title="Bundle Install" data-cmd="<code>scl enable rh-ruby22 nodejs010 -- bin/bundle install --path=vendor/bundle</code>">
      Bundle Install
    </button>
    <% if @type == :usr %>
    <button class="btn btn-default btn-block" data-toggle="cli" data-target="<%= cli_product_path('precompile_assets', name: @product.name, type: @type) %>" data-title="Precompile Assets" data-cmd="RAILS_ENV=production scl enable rh-ruby22 nodejs010 -- <<< 'bin/rake assets:clobber && bin/rake assets:precompile && bin/rake tmp:clear'">
      Build Assets
    </button>
    <% end %>
    <button class="btn btn-default btn-block" data-toggle="cli" data-target="<%= cli_product_path('restart_app', name: @product.name, type: @type) %>" data-title="Restart App" data-cmd="mkdir -p tmp && touch tmp/restart.txt">
      Restart App
    </button>
  </div><!-- /.col-md-2 -->

</div><!-- /.row -->

<% unless @product.valid?(:show_app) %>
<div class="alert alert-danger">
  <p>Please fix the errors below:</p>
  <ul class="rails-bootstrap-forms-error-summary">
    <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg.html_safe %></li>
    <% end %>
  </ul>
</div>
<% end %>

<hr />

<% if @product.permissions? %>

<h3>Permissions</h3>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Users</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @product.users.each do |u| %>
        <tr>
          <td><%= u.name %> <%= "(Owner)" if u.owner %></td>
          <td><%= link_to 'Remove', product_permission_path(u.name, type: @type, product_name: @product.name, context: :user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' unless u.owner %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <%= link_to 'New User Permission', new_product_permission_path(type: @type, product_name: @product.name, context: :user), class: 'btn btn-default' %>
    </p>
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Groups</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @product.groups.each do |g| %>
        <tr>
          <td><%= g.name %> <%= "(Owner)" if g.owner %></td>
          <td><%= link_to 'Remove', product_permission_path(g.name, type: @type, product_name: @product.name, context: :group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' unless g.owner %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <%= link_to 'New Group Permission', new_product_permission_path(type: @type, product_name: @product.name, context: :group), class: 'btn btn-default' %>
    </p>
  </div><!-- /.col-sm-6 -->
</div><!-- /.row -->

<hr />
<% end %>

<%= link_to 'Edit', edit_product_path(@product.name, type: @type), class: 'btn btn-default' %>
<%= link_to 'Back', products_path(type: @type), class: 'btn btn-default' %>
<%= link_to 'Delete App', product_path(@product.name, type: @type), method: :delete, data: { confirm: 'This will move the product to the trash. Any data users may have from this app will become inaccessible after this. Be sure you know what you are doing!' }, class: 'btn btn-danger pull-right' %>

<div class="modal fade" id="productCliModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Command</h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <pre class="product-cli-body">
          Loading...
        </pre>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
