<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Active Jobs</title>

    <script>
      var JobStatusapp = {
        username: "<%= OodSupport::User.new.name %>",
        delete_job_path: function(id, cluster){
          return "<%= delete_job_path %>?cluster="  + cluster + "&pbsid=" + id
        }
      };
    </script>

  <%= stylesheet_link_tag    "application", media: "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico', href: OodAppkit.public.url.join('favicon.ico') , skip_pipeline: true %>
  <%= render partial: '/layouts/nav/styles', locals: { bg_color: Configuration.brand_bg_color, link_active_color: Configuration.brand_link_active_bg_color } %>
</head>
<body>

<header>
  <!-- navbar  -->
  <nav class="ood-appkit navbar navbar-<%= ENV['OOD_NAVBAR_TYPE'].present? ? ENV['OOD_NAVBAR_TYPE'] : 'inverse' %> navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="navbar-breadcrumbs">
          <li>
            <% if ENV['OOD_DASHBOARD_HEADER_IMG_LOGO'].present? %>
              <a class="navbar-brand navbar-brand-logo" href="<%= OodAppkit.dashboard.url.to_s %>"><img src="<%= ENV['OOD_DASHBOARD_HEADER_IMG_LOGO'] %>" alt="<%= OodAppkit.dashboard.title.html_safe %>"></a>
            <% else %>
              <a class="navbar-brand" href="<%= OodAppkit.dashboard.url.to_s %>"><%= OodAppkit.dashboard.title.html_safe %></a>
            <% end %>
          </li>
          <li><%= link_to "Active Jobs", root_path %></li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container" role="main">

  <% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= alert %>
  </div>
  <% end %>

  <% if notice %>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= notice %>
  </div>
  <% end %>

  <div class="alert alert-danger alert-dismissible" role="alert" id="ajax-error-message" hidden>
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <div id="ajax-error-message-text"></div>
  </div>

  <%= yield %>

</div><!-- /.container -->

<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <p id="app_version" class="pull-right"><%= ENV['VERSION'] %></p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
