<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

<% @user ||= User.new # just in case... %>

<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">OSC OnDemand</a> </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">

        <% if @user.project_space_paths.empty? %>
          <li><a href="/pun/shared/bmcmichael/cloudcmd/fs<%= @user.home %>" target="_blank">Files</a></li>
        <% else %>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Files<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/pun/shared/bmcmichael/cloudcmd/fs<%= @user.home %>" target="_blank"><i class="fa fa-home"></i> Home Directory</a></li>
              <li role="separator" class="divider"></li>
              <% @user.project_space_paths.each do |p| %>
                <li><a href="/pun/shared/bmcmichael/cloudcmd/fs<%= p.to_s %>" target="_blank"><i class="fa fa-folder"></i> <%= p.to_s %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jobs<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "<i class=\"fa fa-tasks\"></i> My Jobs".html_safe, app_path("efranz", "myjobs") %></li>
          <li><a href="/pun/shared/bmcmichael/activejobs"><i class="fa fa-clock-o"></i> Active Jobs</a>
          </li>
        </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clusters<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/pun/shared/jnicklas/osc-shell/ssh/oakley" target="_blank"><i class="fa fa-terminal"></i> Oakley Shell Access</a></li>
          <% if @user.has_ruby_access? %>
            <li><a href="/pun/shared/jnicklas/osc-shell/ssh/ruby" target="_blank"><i class="fa fa-terminal"></i> Ruby Shell Access</a></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><a href="/pun/shared/bmcmichael/osc-systemstatus"><i class="fa fa-tachometer"></i> System Status</a></li>
        </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Virtual Desktop Interface</li>
          <li><a href="/pun/shared/efranz/oakley_vdi"><i class="fa fa-desktop"></i> Oakley VDI</a></li>
          <% if @user.has_ruby_access? %>
            <li><a href="/pun/shared/efranz/ruby_vdi"><i class="fa fa-desktop"></i> Ruby VDI</a></li>
          <% end %>
          <li><a href="/pun/shared/jnicklas/paraview"><%= image_tag "logo-14x14-paraview.png" %> Paraview</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Compute Node Session</li>
          <li><a href="/pun/shared/jnicklas/oakley_desktop"><i class="fa fa-desktop"></i> Oakley Desktop</a></li>
          <% if @user.has_ruby_access? %>
            <li><a href="/pun/shared/jnicklas/ruby_desktop" ><i class="fa fa-desktop"></i> Ruby Desktop</a>
          <% end %>
          <li><a href="/pun/shared/jnicklas/abaqus_cae"><%= image_tag "logo-14x14-abaqus.png" %> Abaqus/CAE</a>
          <li><a href="/pun/shared/jnicklas/ansys_workbench"><%= image_tag "logo-14x14-ansys.png" %> ANSYS Workbench</a>
          <li><a href="/pun/shared/jnicklas/comsol"><%= image_tag "logo-14x14-comsol.png" %> COMSOL</a>
        </ul>
        </li>

        <% if @user.developer? %>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Develop<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/nginx/stop?redir=<%= root_path %>"><i class="fa fa-refresh"></i> Restart Web Server</a></li>
        </ul>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <%# <li class="disabled"><a href="#">Online Documentation</a></li> %>
          <li><a href="https://www.osc.edu/contact/supercomputing_support"><i class="fa fa-question-circle"></i> Contact Support</a></li>
        </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as <%= @user.name %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://my.osc.edu"><i class="fa fa-gear"></i> Change OSC Password</a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="disabled"><a href="#"><i class="fa fa-power-off"></i> Logout</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

<div class="container" role="main">

  <script type="text/coffee-script-template" id="js-alert-danger-template">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      ALERT_MSG
    </div>
  </script>

  <% if alert %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <%= alert %>
    </div>
  <% end %>




  <% if notice %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <%= notice %>
    </div>
  <% end %>

  <%= yield %>

</div><!-- /.container -->

</body>
</html>
