<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">OSC OnDemand</a> </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">
        <li><a href="/pun/shared/bmcmichael/cloudcmd" target="_blank">Files</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jobs<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="#">My Jobs</a></li>
          <li><a href="/pun/shared/bmcmichael/osc-jobstatus">Active Jobs</a>
          </li>
        </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clusters<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/pun/shared/jnicklas/osc-shell/ssh/oakley" target="_blank">Oakley Shell Access</a>
          </li>
          <li><a href="/pun/shared/jnicklas/osc-shell/ssh/ruby" target="_blank">Ruby Shell Access</a>
          </li>
          <li role="separator" class="divider"></li>
          <li><a href="/pun/shared/bmcmichael/osc-systemstatus">System Status</a></li>
        </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/pun/shared/jnicklas/hpc_desktop">Oakley Desktop</a>
          </li>
          <li class="disabled"><a href="#" >Ruby Desktop</a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="disabled"><a href="#">Abaqus</a>
          </li>
          <li class="disabled"><a href="#">ANSYS</a>
          </li>
          <li class="disabled"><a href="#">COMSOL 4.3</a>
          </li>
          <li class="disabled"><a href="#">COMSOL 5.1</a>
          </li>
          <li class="disabled"><a href="#">Paraview</a>
          </li>
        </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="#">Online Documentation</a>
          </li>
          <li class="disabled"><a href="#">Contact Support</a>
          </li>
        </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as efranz<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://my.osc.edu">Change OSC Password</a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="disabled"><a href="#">Logout</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

<div class="container" role="main">

  <% if alert %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <%= alert %>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <%= notice %>
    </div>
  <% end %>

  <%= yield %>

</div><!-- /.container -->

</body>
</html>
